Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core-rds-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

telco-hub-rds-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

handled dynamic secret for remote alertmanager
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: none

telco-ran: OCPBUGS-62917: removed unused PtpConfigGmWpc
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGmWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGmWpc.yaml
Due: none

OCPBUGS-72511: Explicitly set the name of BSL
  telco-ran/configuration/source-crs/data-protection/OadpBackupStorageLocationStatus.yaml
  telco-ran/configuration/source-crs/data-protection/OadpDataProtectionApplication.yaml
Due: none

Remove cert-manager from RAN due to IBU incompatibility
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerNS.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/ingressControllerConfig.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/README.md
  telco-ran/configuration/source-crs/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerNS.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressControllerConfig.yaml
Due: none

handled dynamic secret for remote alertmanager
  telco-core/configuration/reference-crs-kube-compare/optional/other/monitoring-config-cm.yaml
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request

adding right version to release 4.21 hub rds
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/configuration/reference-crs/required/gitops/gitopsSubscription.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

updating files for 4.20
  telco-core/configuration/reference-crs/required/networking/sriov/sriovNetworkNodePolicy.yaml
Due: telco-core-rds-4-21-on-pull-request

Update telco-ran links to 4.18 cnf-features-deploy
  telco-ran/README.md
Due: none

edge-manager-previes is not recognized
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCH.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCH.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

updating files for 4.20
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

cluster-proxy-addon has to be disabled
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCE.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

[Telco-Hub] update MCE/MCH ACM 2.15
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCH.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCH.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Update gitops to 1.19 for 4.21
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/gitopsSubscription.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Fix mirroring versions for 4.21
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Cluster Logging version 6.4 is required for 4.21
  telco-hub/configuration/reference-crs-kube-compare/optional/logging/clusterLogSubscription.yaml
  telco-hub/configuration/reference-crs/optional/logging/clusterLogSubscription.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

gitops and multicluster-operators-subscription-rhel9 fix
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

gitops to 1.18
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/gitopsSubscription.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

clusterlogging mirror image
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

ACM 2.15 sub
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/acm/acmSubscription.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

fix mirror image for ulticluster-operators-subscription-rhel9
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Additional fixes from validation
  telco-hub/configuration/example-overlays-config/acm/acmMirrorRegistryCM-patch.yaml
  telco-hub/configuration/example-overlays-config/acm/options-agentserviceconfig-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/catalog-source-image-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/idms-operator-mirrors-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/idms-release-mirrors-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/itms-release-mirrors-patch.yaml
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs/required/acm/acmAgentServiceConfig.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/configuration/reference-crs/required/gitops/get_ztp_installation.sh
  telco-hub/configuration/reference-crs/required/registry/catalog-source.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-operator.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-release.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-release.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

OCPBUGS-76838: Repair RAN DU profile tuned commandline argument handling
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/TunedPerformancePatch.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/TunedPerformancePatch.yaml
Due: none

OCPBUGS-76838: Blacklist mgag200 video driver for RAN profile
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/TunedPerformancePatch.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/TunedPerformancePatch.yaml
Due: none

telco-ran: update ran clusterinstance
  telco-ran/configuration/argocd/example/clusterinstance/example-3node.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-sno.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-standard.yaml
Due: none

telco-core: update core clusterinstance
  telco-core/install/example-standard-clusterinstace.yaml
Due: telco-core-rds-4-21-on-pull-request

updated Readme and Hub install folder to align with ABI folder naming rule
  telco-hub/install/install_directory/README.md
  telco-hub/install/install_directory/agent-config.yaml
  telco-hub/install/install_directory/install-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)
