Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core-rds-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

telco-hub-rds-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

CNF-21326: RAN Hardening (4.22) - SSHD (H3: PermitEmptyPasswords)
  telco-ran/configuration/machineconfigs/sshd/75-sshd-config-high.yaml
  telco-ran/configuration/machineconfigs/sshd/75-sshd-permit-empty-passwords-master.yaml
  telco-ran/configuration/machineconfigs/sshd/75-sshd-permit-empty-passwords-worker.yaml
Due: none

RAN Hardening (m4-audit-selinux): compliance remediation for OCP 4.22
  telco-ran/configuration/machineconfigs/audit/75-audit-selinux-master.yaml
  telco-ran/configuration/machineconfigs/audit/75-audit-selinux-worker.yaml
Due: none

RAN Hardening (m6-audit-time): compliance remediation for OCP 4.22
  telco-ran/configuration/machineconfigs/audit/75-audit-time-master.yaml
  telco-ran/configuration/machineconfigs/audit/75-audit-time-worker.yaml
Due: none

RAN Hardening (m7-audit-login): compliance remediation for OCP 4.22
  telco-ran/configuration/machineconfigs/audit/75-audit-login-master.yaml
  telco-ran/configuration/machineconfigs/audit/75-audit-login-worker.yaml
Due: none

RAN Hardening (m1-sshd-medium): compliance remediation for OCP 4.22
  telco-ran/configuration/machineconfigs/sshd/00-compliance-sshd-hardening-master.yaml
  telco-ran/configuration/machineconfigs/sshd/00-compliance-sshd-hardening-worker.yaml
Due: none

feat: add base64 list validation template for kube-compare
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/worker-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/validate_base64_list.tmpl
Due: telco-core-rds-4-21-on-pull-request

OCPBUGS-79034 Use 6.2 as default channel for CLO
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

handled dynamic secret for remote alertmanager
  telco-core/configuration/reference-crs-kube-compare/optional/other/monitoring-config-cm.yaml
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request

feat: add plain text support with URL decoding to validateBase64List
  telco-core/configuration/reference-crs-kube-compare/validate_base64_list.tmpl
Due: telco-core-rds-4-21-on-pull-request

docs: add README for kube-compare reference configuration
  telco-core/configuration/reference-crs-kube-compare/README.md
Due: telco-core-rds-4-21-on-pull-request

Red Hat Konflux purge telco-core-rds-4-17
  .tekton/telco-core-rds-4-17-pull-request.yaml
  .tekton/telco-core-rds-4-17-push.yaml
Due: none

Add by2waysprojects to konflux OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Added scope for the cert-manager operator.
  telco-core/install/extra-manifests/clusterimagepolicy-telco-core-operators.yaml
Due: telco-core-rds-4-21-on-pull-request

Added cluster-monitoring label to sriov operator
  telco-core/configuration/reference-crs-kube-compare/required/networking/sriov/SriovSubscriptionNS.yaml
  telco-core/configuration/reference-crs/required/networking/sriov/SriovSubscriptionNS.yaml
  telco-ran/configuration/kube-compare-reference/sriov-operator/SriovSubscriptionNS.yaml
  telco-ran/configuration/source-crs/sriov-operator/SriovSubscriptionNS.yaml
Due: telco-core-rds-4-21-on-pull-request

Handled sriov operator monitoring field in kube-compare metadat
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-ran: update ptp4lConfig reference to tolerate ordering
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualCardGmWpc.yaml
Due: none

Add comprehensive version update documentation
  AGENTS.md
  VERSION_UPDATE_GUIDE.md
Due: none

Update documentation URLs from docs.openshift.com to docs.redhat.com
  telco-core/configuration/core-finish.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Update all version references for OpenShift 4.22
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/core-finish.yaml
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/core-upgrade.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/ClusterLogSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/required/storage/odf-external/odfSubscription.yaml
  telco-core/configuration/reference-crs/custom-manifests/subscription-validator.yaml
  telco-core/configuration/reference-crs/optional/logging/ClusterLogSubscription.yaml
  telco-core/configuration/reference-crs/optional/other/ClusterVersion.yaml
  telco-core/configuration/reference-crs/required/scheduling/NROPSubscription.yaml
  telco-core/configuration/reference-crs/required/scheduling/sched.yaml
  telco-core/configuration/reference-crs/required/storage/odf-external/odfSubscription.yaml
  telco-core/install/example-standard-clusterinstance.yaml
  telco-hub/configuration/example-overlays-config/acm/options-agentserviceconfig-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/catalog-source-image-patch.yaml
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/logging/clusterLogSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/optional/logging/clusterLogSubscription.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs/required/acm/acmAgentServiceConfig.yaml
  telco-hub/configuration/reference-crs/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/configuration/reference-crs/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/required/registry/catalog-source.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
  telco-ran/configuration/argocd/deployment/openshift-gitops-operator.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-3node.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-sno.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-standard.yaml
  telco-ran/configuration/argocd/example/policygentemplates/common-ranGen.yaml
  telco-ran/configuration/kube-compare-reference/cluster-logging/ClusterLogSubscription.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cluster-logging/ClusterLogSubscription.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

fix: allow default reachabilityTotalTimeoutSeconds in Network (CNF-22543)
  telco-core/configuration/reference-crs-kube-compare/required/networking/Network.yaml
  telco-core/configuration/reference-crs/required/networking/Network.yaml
Due: telco-core-rds-4-21-on-pull-request

Use empty egressIPConfig to match oc get default
  telco-core/configuration/reference-crs-kube-compare/required/networking/Network.yaml
  telco-core/configuration/reference-crs/required/networking/Network.yaml
Due: telco-core-rds-4-21-on-pull-request

Network: template egressIPConfig for empty or explicit reachability timeout
  telco-core/configuration/reference-crs-kube-compare/required/networking/Network.yaml
  telco-core/configuration/reference-crs/required/networking/Network.yaml
Due: telco-core-rds-4-21-on-pull-request

Update telco-hub/install/install_directory/openshift/Network.yaml
  telco-hub/install/install_directory/openshift/Network.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

top level directory renamed openshift
  telco-hub/install/openshift/README.md
  telco-hub/install/openshift/agent-config.yaml
  telco-hub/install/openshift/install-config.yaml
  telco-hub/install/openshift/openshift/Network.yaml
  telco-hub/install/openshift/openshift/README.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

rename install_directory to openshift in the readme file
  telco-hub/install/openshift/README.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

fixed yaml lint issue
  telco-core/install/extra-manifests/Network.yaml
Due: telco-core-rds-4-21-on-pull-request

added openshift documentation reference link and recommendation
  telco-core/install/extra-manifests/Network.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-ran: update disableOLMprof compliancetype
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-sno-ranGen-templated.yaml
Due: none

telco-ran: update ptp4lConfig reference to tolerate ordering
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualCardGmWpc.yaml
Due: none

OCPBUGS-81698: Exclude local-cluster from gitops
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/app-project.yaml
  telco-hub/configuration/reference-crs/required/gitops/app-project.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: telco-core: back port all updates ReduceMonitoringFootprint CR
  telco-core/configuration/reference-crs-kube-compare/optional/other/monitoring-config-cm.yaml
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
  telco-hub/configuration/reference-crs/required/acm/readme.md
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: remove workload annotation from reference
  telco-hub/configuration/reference-crs/optional/logging/clusterLogNS.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/odfNS.yaml
  telco-hub/configuration/reference-crs/required/registry/catalog-source.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-operator.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-release.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-release.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: update portnames in ptp source crs
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualCardGmWpc.yaml
Due: none

Network: address review simplify egressIPConfig template, explicit default in reference CR
  telco-core/configuration/reference-crs-kube-compare/required/networking/Network.yaml
  telco-core/configuration/reference-crs/required/networking/Network.yaml
Due: telco-core-rds-4-21-on-pull-request

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)
