Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core-rds-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

telco-hub-rds-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

cluster network MTU setting at deployment time for Hub - OCPBUGS-67195
  telco-hub/install/install_directory/openshift/Network.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Additional fixes for 4.20 reference
  telco-hub/configuration/reference-crs/required/gitops/clusterrole.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

remove Network CR for Spoke and update mtu value for Hub
  telco-core/install/extra-manifests/Network.yaml
  telco-hub/install/install_directory/openshift/Network.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Revert "updated Readme and Hub install folder to align with ABI folder naming…"
  telco-hub/install/openshift/README.md
  telco-hub/install/openshift/agent-config.yaml
  telco-hub/install/openshift/install-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

fix ABI folder naming issue and Hub MTU seting
  telco-hub/install/install_directory/README.md
  telco-hub/install/install_directory/agent-config.yaml
  telco-hub/install/install_directory/install-config.yaml
  telco-hub/install/install_directory/openshift/Network.yaml
  telco-hub/install/install_directory/openshift/README.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

set cluster network mtu for spoke cluster at deployment time
  telco-core/install/extra-manifests/Network.yaml
Due: telco-core-rds-4-21-on-pull-request

set recommended default value for mtu
  telco-core/install/extra-manifests/Network.yaml
Due: telco-core-rds-4-21-on-pull-request

fix yamllint issue
  telco-hub/install/install_directory/openshift/Network.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

yamllint issue return line
  telco-hub/install/install_directory/openshift/Network.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Add ts2phc.pin_index 1 to ptpconfigs
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualCardGmWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGmWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigTTSCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigThreeCardGmWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualCardGmWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGmWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigTTSCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigThreeCardGmWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
Due: none

OCPBUGS-60438: Ignore labels automatically added by OLM
  telco-ran/configuration/kube-compare-reference/metadata.yaml
Due: none

telco-ran: BMH ignoredifferences siteconfig patch for ignition config annotation
  telco-ran/configuration/argocd/example/siteconfig/README.md
Due: none

OCPBUGS-72511: Explicitly set the name of BSL
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-example-sno-site.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-sno-validator-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/example-sno-site.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-sno-validator-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/source-crs/data-protection/OadpBackupStorageLocationStatus.yaml
  telco-ran/configuration/source-crs/data-protection/OadpDataProtectionApplication.yaml
Due: none

OCPBUGS-77482: Remove obsolete cert-manager config
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerNS.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerSubscription.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/consoleCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/downloadsCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/oauthServiceCertificate.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

OCPBUGS-77228: Add missing rbac permissions
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/clusterrole.yaml
  telco-hub/configuration/reference-crs/required/gitops/clusterrole.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco hub quick fix acm versions
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Fix trailing whitespace in test-kustomize.sh
  hack/test-kustomize.sh
Due: none

OCPBUGS-xxxxx: Add missing mirror of Cert Manager
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

RAN: Add GNR-D PTP T-GM configuration
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
Due: none

RAN: Add GNR-D PTP BoundaryClock-without-holdover configuration
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
Due: none

CNF-21346: Add `latest` tag to on-push builds
  .tekton/telco-core-rds-4-22-pull-request.yaml
  .tekton/telco-core-rds-4-22-push.yaml
  .tekton/telco-hub-rds-4-22-pull-request.yaml
  .tekton/telco-hub-rds-4-22-push.yaml
Due: none

CNF-21346: Add `latest` tag to on-push builds
  .tekton/telco-core-rds-4-21-pull-request.yaml
  .tekton/telco-core-rds-4-21-push.yaml
  .tekton/telco-hub-rds-4-21-pull-request.yaml
  .tekton/telco-hub-rds-4-21-push.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-21-on-push

CNF-21346: Add `latest` tag to on-push builds
  .tekton/telco-core-rds-4-20-pull-request.yaml
  .tekton/telco-core-rds-4-20-push.yaml
  .tekton/telco-hub-rds-4-20-pull-request.yaml
  .tekton/telco-hub-rds-4-20-push.yaml
Due: telco-hub-rds-4-20-on-push

CNF-21346: Add `latest` tag to on-push builds
  .tekton/telco-core-rds-4-19-pull-request.yaml
  .tekton/telco-core-rds-4-19-push.yaml
  .tekton/telco-hub-rds-4-19-pull-request.yaml
  .tekton/telco-hub-rds-4-19-push.yaml
Due: none

CNF-21346: Add latest tag to on-push builds - In this older branch we did not yet have the additional-tags parameter so also add that
  .tekton/telco-core-rds-4-18-pull-request.yaml
  .tekton/telco-core-rds-4-18-push.yaml
Due: none

CNF-21346: Add latest tag to on-push builds - In this older branch we did not yet have the additional-tags parameter so also add that
  .tekton/telco-core-rds-4-17-pull-request.yaml
  .tekton/telco-core-rds-4-17-push.yaml
Due: none

CNF-21346: Add latest tag to on-push builds - In this older branch we did not yet have the additional-tags parameter so also add that
  .tekton/telco-core-rds-4-16-pull-request.yaml
  .tekton/telco-core-rds-4-16-push.yaml
Due: none

telco-core: monitoring label in kube compare reference
  telco-core/configuration/reference-crs-kube-compare/required/networking/NMStateNS.yaml
  telco-core/configuration/reference-crs/required/networking/NMStateNS.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-core: add serviceAllocation for ipaddr pool
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/addr-pool.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-core: tolerate route-rules in NodeNetworkConfigurationPolicy
  telco-core/configuration/reference-crs-kube-compare/optional/networking/nodeNetworkConfigurationPolicy.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-core: add kernelpagesize reference template to core performanceprofile
  telco-core/configuration/reference-crs-kube-compare/required/performance/PerformanceProfile.yaml
Due: telco-core-rds-4-21-on-pull-request

kube-compare-reference: fix cluster version in 4.21
  telco-core/configuration/reference-crs-kube-compare/ReferenceVersionCheck.yaml
  telco-hub/configuration/reference-crs-kube-compare/ReferenceVersionCheck.yaml
  telco-ran/configuration/kube-compare-reference/version-check/ClusterVersionOperator.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

kube-compare-reference: fix cluster version in main
  telco-core/configuration/reference-crs-kube-compare/ReferenceVersionCheck.yaml
  telco-hub/configuration/reference-crs-kube-compare/ReferenceVersionCheck.yaml
  telco-ran/configuration/kube-compare-reference/version-check/ClusterVersionOperator.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: telco-core: fix clo version
  telco-core/configuration/reference-crs/optional/logging/ClusterLogSubscription.yaml
  telco-ran/configuration/source-crs/cluster-logging/ClusterLogSubscription.yaml
Due: telco-core-rds-4-21-on-pull-request

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)
