Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core-rds-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

telco-hub-rds-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

Remove SSHD config - consolidating into PR #466
  telco-ran/configuration/machineconfigs/sshd/75-sshd-high.yaml
Due: none

Consolidate SSHD hardening with all CO severity levels
  telco-ran/configuration/machineconfigs/sshd/75-sshd-config-high.yaml
  telco-ran/configuration/machineconfigs/sshd/75-sshd-hardening.yaml
Due: none

Replace chrony-wait instead of adding a new service for inital chronyd sync
  telco-ran/configuration/extra-manifests-builder/99-sync-time-once/build.sh
  telco-ran/configuration/kube-compare-reference/machine-config/one-shot-time-sync/99-sync-time-once-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/one-shot-time-sync/99-sync-time-once-worker.yaml
  telco-ran/configuration/source-crs/extra-manifest/99-sync-time-once-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/99-sync-time-once-worker.yaml
Due: none

add new line to fix lint test issue
  telco-core/install/extra-manifests/Network.yaml
Due: telco-core-rds-4-21-on-pull-request

OCPBUGS-62684: Move enable-crun manifests out of optional manifests
  telco-ran/configuration/Makefile
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-standard-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-3node-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-standard-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-standard-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-3node-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-standard-ranGen-templated.yaml
  telco-ran/configuration/source-crs/extra-manifest/enable-crun-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/enable-crun-worker.yaml
Due: none

Add CertificatePolicy CR for monitoring certificate health
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerCertificatePolicy.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerCertificatePolicyPlacement.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerCertificatePolicyPlacementBinding.yaml
  telco-hub/configuration/reference-crs-kube-compare/unordered_list.tmpl
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerCertificatePolicy.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerCertificatePolicyPlacement.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerCertificatePolicyPlacementBinding.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/kustomization.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: remove workload partitioning annotations
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/logging/clusterLogNS.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/odfNS.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/registry/catalog-source.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/registry/idms-operator.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/registry/idms-release.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/registry/itms-generic.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/registry/itms-release.yaml
  telco-hub/configuration/reference-crs/optional/logging/clusterLogNS.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/odfNS.yaml
  telco-hub/configuration/reference-crs/required/registry/catalog-source.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-operator.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-release.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-release.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: minor readme fix
  telco-ran/configuration/argocd/README.md
Due: none

telco-ran: include cpuPartitioningMode for mno
  telco-ran/configuration/argocd/example/clusterinstance/example-3node.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-standard.yaml
Due: none

Adding version to release-4.21
  telco-hub/configuration/reference-crs-kube-compare/optional/logging/clusterLogSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/optional/logging/clusterLogSubscription.yaml
  telco-hub/configuration/reference-crs/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/required/registry/catalog-source.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-operator.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-release.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-release.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

fixing typo
  telco-hub/configuration/reference-crs/required/registry/image-config.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

adding new line character
  telco-hub/configuration/reference-crs/required/registry/image-config.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

removing trailling space
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

removing trailling space
  telco-hub/configuration/reference-crs/required/registry/image-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

adding version to release 4.21
  telco-hub/configuration/reference-crs-kube-compare/optional/logging/clusterLogSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/optional/logging/clusterLogSubscription.yaml
  telco-hub/configuration/reference-crs/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/gitopsSubscription.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

version update for release 4.21
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

changing gitops channel to 1.16 since 1.19 is not available yet
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/gitopsSubscription.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

tekton: fix core label
  .tekton/build-pipeline-telco-core-rds.yaml
Due: telco-core-rds-4-21-on-pull-request

tekton: fix core label
  .tekton/telco-core-rds-4-18-pull-request.yaml
  .tekton/telco-core-rds-4-18-push.yaml
Due: none

tekton: fix core label
  .tekton/telco-core-rds-4-17-pull-request.yaml
  .tekton/telco-core-rds-4-17-push.yaml
Due: none

tekton: fix core label
  .tekton/telco-core-rds-4-16-pull-request.yaml
  .tekton/telco-core-rds-4-16-push.yaml
Due: none

fixing typo
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

fixing typo in multicluster operator version
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Replace chrony-wait instead of adding a new service for inital chronyd sync
  telco-ran/configuration/extra-manifests-builder/99-sync-time-once/build.sh
  telco-ran/configuration/kube-compare-reference/required/machine-config/one-shot-time-sync/99-sync-time-once-master.yaml
  telco-ran/configuration/kube-compare-reference/required/machine-config/one-shot-time-sync/99-sync-time-once-worker.yaml
  telco-ran/configuration/source-crs/extra-manifest/99-sync-time-once-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/99-sync-time-once-worker.yaml
Due: none

updating ODF subscription to 4.19 and ACM version 2.14 for Hub rds container verison 4.19
  telco-hub/configuration/reference-crs/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCH.yaml
  telco-hub/configuration/reference-crs/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

setting Cluster Logging operator to 6.2 instead of 6.4
  telco-hub/configuration/reference-crs/optional/logging/clusterLogSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Setting gitops operator version to 1.19
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/gitopsSubscription.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

fixing typo
  telco-hub/configuration/reference-crs-kube-compare/optional/logging/clusterLogSubscription.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

updating files for 4.20
  telco-hub/configuration/reference-crs/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

updating files for 4.20
  telco-core/configuration/reference-crs/custom-manifests/subscription-validator.yaml
  telco-core/configuration/reference-crs/optional/networking/sriov/SriovNetworkPoolConfig.yaml
  telco-core/configuration/reference-crs/optional/other/server-cert-openshift-config-copy.yaml
  telco-core/configuration/reference-crs/required/networking/metallb/bgp-peer.yaml
  telco-core/configuration/reference-crs/required/networking/metallb/metallb.yaml
  telco-core/configuration/reference-crs/required/networking/sriov/sriovNetworkNodePolicy.yaml
  telco-core/configuration/reference-crs/required/performance/PerformanceProfile.yaml
  telco-core/configuration/reference-crs/required/performance/TunedPerformancePatch.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

updating files for 4.20
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmSubscription.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Added dynamic secret name resolution
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: none

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)
