Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core-rds-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

telco-hub-rds-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

CNF-24269 Add Core control-plane PerformanceProfile
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/required/performance/PerformanceProfile.yaml
  telco-core/configuration/reference-crs/required/performance/PerformanceProfile-control-plane.yaml
  telco-core/configuration/reference-crs/required/performance/TunedPerformancePatch.yaml
  telco-core/configuration/template-values/hw-types.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-hub: reference update for mch/mce in acm2.16
  telco-hub/configuration/reference-crs/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCH.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: update clo channel for 4.21
  telco-hub/configuration/reference-crs/optional/logging/clusterLogSubscription.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: use variable placeholder for iface_timeRx default
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
Due: none

telco-ran: sync source CRs for iface_timeRx placeholder
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigBoundary.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigBoundaryForEvent.yaml
Due: none

telco-hub: sync kube-compare refs for mch/mce in acm2.16
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCH.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: sync kube-compare clo channel to stable-6.5 for 4.21
  telco-hub/configuration/reference-crs-kube-compare/optional/logging/clusterLogSubscription.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: drop enable-crun from PolicyGenerators; add Core install kustomize example
  telco-core/install/README.md
  telco-core/install/kustomization.yaml
  telco-ran/configuration/argocd/AdditionalManifests.md
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-standard-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-3node-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-standard-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-standard-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-3node-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-standard-ranGen-templated.yaml
  telco-ran/configuration/source-crs/optional-extra-manifest/README.md
Due: telco-core-rds-4-21-on-pull-request

RAN Hardening - Crypto Policy (H1)
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-crypto-policy-high-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-crypto-policy-high-worker.yaml
Due: none

Fix linting errors
  telco-core/configuration/reference-crs/optional/networking/firewall/node-disruption-policy.yaml
  telco-core/install/extra-manifests/Network.yaml
  telco-hub/install/openshift/openshift/Network.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-14592: add LokiStack configuration CRs
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/optional/logging/ClusterLogForwarder.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/LokiOperatorGroup.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/LokiOperatorNS.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/LokiSecret.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/LokiStack.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/LokiSubscription.yaml
  telco-core/configuration/reference-crs/optional/logging/ClusterLogForwarder.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiOperatorGroup.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiOperatorNS.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiOperatorStatus.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiSecret.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiStack.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiSubscription.yaml
Due: telco-core-rds-4-21-on-pull-request

core: dedupe MachineConfigs to install/extra-manifests; add install/kube-compare sync check
  .gitattributes
  hack/check-core-install-extra-manifest-sync.sh
  telco-core/configuration/Makefile
  telco-core/configuration/core-finish.yaml
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/core-upgrade-finish.yaml
  telco-core/configuration/core-upgrade.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/optional/networking/multus/tap_cni/mc_rootless_pods_selinux.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/worker-load-kernel-modules.yaml
  telco-core/configuration/reference-crs/custom-manifests/README.md
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-1.yaml
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-2.yaml
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-3.yaml
  telco-core/configuration/reference-crs/optional/networking/multus/tap_cni/mc_rootless_pods_selinux.yaml
  telco-core/configuration/reference-crs/optional/other/control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs/optional/other/kdump-master.yaml
  telco-core/configuration/reference-crs/optional/other/kdump-worker.yaml
  telco-core/configuration/reference-crs/optional/other/mount_namespace_config_master.yaml
  telco-core/configuration/reference-crs/optional/other/mount_namespace_config_worker.yaml
  telco-core/configuration/reference-crs/optional/other/sctp_module_mc.yaml
  telco-core/configuration/reference-crs/optional/other/worker-load-kernel-modules.yaml
  telco-core/install/README.md
  telco-core/install/custom-manifests/README.md
  telco-core/install/example-standard-clusterinstance.yaml
  telco-core/install/extra-manifests/mcp-worker-1.yaml
  telco-core/install/extra-manifests/mcp-worker-2.yaml
  telco-core/install/extra-manifests/mcp-worker-3.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-ran: move enable-crun to extra-manifest; align policies and add sync check
  hack/check-ran-crun-extra-manifest-sync.sh
  telco-ran/configuration/Makefile
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-standard-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-3node-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-standard-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-standard-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-3node-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-standard-ranGen-templated.yaml
  telco-ran/configuration/source-crs/extra-manifest/enable-crun-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/enable-crun-worker.yaml
  telco-ran/configuration/source-crs/optional-extra-manifest/README.md
Due: none

Address PR 761 review: extend compare.sh, drop gitattributes and hack scripts
  .gitattributes
  hack/check-core-install-extra-manifest-sync.sh
  hack/check-ran-crun-extra-manifest-sync.sh
  telco-core/configuration/Makefile
  telco-core/configuration/compare.sh
  telco-core/install/README.md
  telco-ran/configuration/Makefile
  telco-ran/configuration/source-crs/extra-manifest/enable-crun-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/enable-crun-worker.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-core: align sctp_module_mc install extra-manifest with ignition 3.2.0
  hack/check-core-install-extra-manifest-sync.sh
  telco-core/install/extra-manifests/sctp_module_mc.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-core: restore custom-manifests MCP paths for PolicyGenerator
  telco-core/configuration/compare.sh
  telco-core/configuration/core-finish.yaml
  telco-core/configuration/core-upgrade-finish.yaml
  telco-core/configuration/core-upgrade.yaml
  telco-core/configuration/reference-crs/custom-manifests/README.md
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-1.yaml
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-2.yaml
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-3.yaml
  telco-core/install/README.md
Due: telco-core-rds-4-21-on-pull-request

telco-core: add MCP custom-manifests to compare_ignore
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
Due: telco-core-rds-4-21-on-pull-request

telco-core: drop install MCs from cluster-compare metadata
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-ran: align enable-crun kube-compare with extra-manifest comment
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-worker.yaml
Due: none

RAN Hardening - PAM Empty Passwords (H2)
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-worker.yaml
Due: none

RAN Hardening (m10-api-encryption): compliance remediation for OCP 4.22
  telco-ran/configuration/hardening/api-server/75-api-server-encryption.yaml
Due: none

Fix macOS sed compatibility across all shell scripts
  telco-core/configuration/compare.sh
  telco-hub/configuration/reference-crs-kube-compare/compare.sh
  telco-hub/configuration/reference-crs/required/gitops/get_ztp_installation.sh
  telco-ran/configuration/hack/update_file_references.sh
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

RAN Hardening (m2-kernel-sysctl): compliance remediation for OCP 4.22
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sysctl-kernel-hardening-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sysctl-kernel-hardening-worker.yaml
Due: none

RAN Hardening (m5-audit-modules): compliance remediation for OCP 4.22
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-kernel-modules-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-kernel-modules-worker.yaml
Due: none

CNF-22194 Core: ensure one copy of MachineConfigs in Core RDS
  telco-core/configuration/Makefile
  telco-core/configuration/compare.sh
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/networking/multus/tap_cni/mc_rootless_pods_selinux.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/worker-load-kernel-modules.yaml
  telco-core/configuration/reference-crs/custom-manifests/README.md
  telco-core/configuration/reference-crs/optional/networking/multus/tap_cni/mc_rootless_pods_selinux.yaml
  telco-core/configuration/reference-crs/optional/other/control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs/optional/other/kdump-master.yaml
  telco-core/configuration/reference-crs/optional/other/kdump-worker.yaml
  telco-core/configuration/reference-crs/optional/other/mount_namespace_config_master.yaml
  telco-core/configuration/reference-crs/optional/other/mount_namespace_config_worker.yaml
  telco-core/configuration/reference-crs/optional/other/sctp_module_mc.yaml
  telco-core/configuration/reference-crs/optional/other/worker-load-kernel-modules.yaml
  telco-core/install/README.md
  telco-core/install/custom-manifests/README.md
  telco-core/install/example-standard-clusterinstance.yaml
  telco-core/install/extra-manifests/mcp-worker-1.yaml
  telco-core/install/extra-manifests/mcp-worker-2.yaml
  telco-core/install/extra-manifests/mcp-worker-3.yaml
  telco-core/install/extra-manifests/sctp_module_mc.yaml
  telco-core/install/kustomization.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-22194 Core: fix compare.sh for templated kube-compare MCs
  telco-core/configuration/compare.sh
Due: telco-core-rds-4-21-on-pull-request

Add ShellCheck GitHub Actions workflow with local make target
  .github/workflows/shellcheck.yml
  Makefile
  hack/test-shellcheck.sh
  telco-ran/configuration/extra-manifests-builder/01-container-mount-ns-and-kubelet-conf/test.sh
  telco-ran/configuration/extra-manifests-builder/08-set-rcu-normal/test.sh
Due: none

Pin actions/checkout to SHA and disable credential persistence
  .github/workflows/shellcheck.yml
Due: none

telco-ran: update reference template to tolerate log collector diff
  telco-core/configuration/reference-crs-kube-compare/optional/logging/ClusterLogServiceAccount.yaml
  telco-ran/configuration/kube-compare-reference/cluster-logging/ClusterLogServiceAccount.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-23812: Add OLM annotation lint workflow
  .github/workflows/olm-annotation-lint.yml
  Makefile
Due: none

CNF-22724: Add External Secrets Operator reference configuration
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/external-secrets/esoClusterSecretStore.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/external-secrets/esoExternalSecretsConfig.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/external-secrets/esoNS.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/external-secrets/esoNetworkPolicy.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/external-secrets/esoOperatorgroup.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/external-secrets/esoSubscription.yaml
  telco-core/configuration/reference-crs/optional/external-secrets/esoClusterSecretStore.yaml
  telco-core/configuration/reference-crs/optional/external-secrets/esoExternalSecretsConfig.yaml
  telco-core/configuration/reference-crs/optional/external-secrets/esoNS.yaml
  telco-core/configuration/reference-crs/optional/external-secrets/esoNetworkPolicy.yaml
  telco-core/configuration/reference-crs/optional/external-secrets/esoOperatorgroup.yaml
  telco-core/configuration/reference-crs/optional/external-secrets/esoSubscription.yaml
  telco-hub/configuration/example-overlays-config/external-secrets/cluster-secret-store-patch.yaml
  telco-hub/configuration/example-overlays-config/external-secrets/kustomization.yaml
  telco-hub/configuration/example-overlays-config/external-secrets/network-policy-patch.yaml
  telco-hub/configuration/kustomization.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/external-secrets/esoClusterSecretStore.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/external-secrets/esoClusterTemplates.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/external-secrets/esoExternalSecretsConfig.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/external-secrets/esoNS.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/external-secrets/esoNetworkPolicy.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/external-secrets/esoNodeTemplates.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/external-secrets/esoOperatorgroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/external-secrets/esoSubscription.yaml
  telco-hub/configuration/reference-crs/kustomization.yaml
  telco-hub/configuration/reference-crs/optional/external-secrets/README.md
  telco-hub/configuration/reference-crs/optional/external-secrets/esoClusterSecretStore.yaml
  telco-hub/configuration/reference-crs/optional/external-secrets/esoClusterTemplates.yaml
  telco-hub/configuration/reference-crs/optional/external-secrets/esoExternalSecretsConfig.yaml
  telco-hub/configuration/reference-crs/optional/external-secrets/esoNS.yaml
  telco-hub/configuration/reference-crs/optional/external-secrets/esoNetworkPolicy.yaml
  telco-hub/configuration/reference-crs/optional/external-secrets/esoNodeTemplates.yaml
  telco-hub/configuration/reference-crs/optional/external-secrets/esoOperatorgroup.yaml
  telco-hub/configuration/reference-crs/optional/external-secrets/esoSubscription.yaml
  telco-hub/configuration/reference-crs/optional/external-secrets/kustomization.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-22194 RAN: address PR review feedback
  VERSION_UPDATE_GUIDE.md
  hack/test-kustomize.sh
  telco-ran/configuration/argocd/SNOExpansion.md
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/clusterinstance/kustomization.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-worker.yaml
  telco-ran/configuration/source-crs/README.md
  telco-ran/install/README.md
  telco-ran/install/clusterinstance
  telco-ran/install/clusterinstance/README.md
  telco-ran/install/clusterinstance/example-3node.yaml
  telco-ran/install/clusterinstance/example-sno.yaml
  telco-ran/install/clusterinstance/example-standard.yaml
  telco-ran/install/clusterinstance/kustomization.yaml
  telco-ran/install/custom-manifests/enable-crun-master.yaml
  telco-ran/install/custom-manifests/enable-crun-worker.yaml
  telco-ran/install/kustomization.yaml
Due: none

CNF-22194 RAN: fix doc paths for clusterinstance and custom-manifests
  telco-ran/configuration/argocd/AdditionalManifests.md
  telco-ran/configuration/source-crs/optional-extra-manifest/README.md
Due: none

Restore cert-manager to RAN profile
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerNS.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/README.md
  telco-ran/configuration/source-crs/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerNS.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorStatus.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressControllerConfig.yaml
Due: none

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)
