Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core-rds-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

telco-hub-rds-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

OCPBUGS-62684: telco-ran: remove crun extra-manifests and complete extra-manifests reorg
  telco-ran/configuration/argocd/AdditionalManifests.md
  telco-ran/configuration/compare.sh
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-worker.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/optional-extra-manifest/README.md
  telco-ran/install/README.md
  telco-ran/install/clusterinstance/custom-manifests/README.md
  telco-ran/install/clusterinstance/extra-manifests/disk-encryption.yaml.tmpl
  telco-ran/install/clusterinstance/extra-manifests/image-registry-partition-mc.yaml.tmpl
  telco-ran/install/custom-manifests/README.md
  telco-ran/install/custom-manifests/enable-crun-master.yaml
  telco-ran/install/custom-manifests/enable-crun-worker.yaml
Due: none

CNF-24269 Add Core control-plane PerformanceProfile
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/required/performance/PerformanceProfile.yaml
  telco-core/configuration/reference-crs/required/performance/PerformanceProfile-control-plane.yaml
  telco-core/configuration/reference-crs/required/performance/TunedPerformancePatch.yaml
  telco-core/configuration/template-values/hw-types.yaml
Due: telco-core-rds-4-21-on-pull-request

Fix wrong compare logic for different configuration files
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/addr-pool.yaml
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/bfd-profile.yaml
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/bgp-peer.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmProvisioning.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: Remove CLO 5.x cleanup policy
  .yamllint.yaml
  telco-ran/configuration/acmpolicygenerator/kustomization.yaml
  telco-ran/configuration/acmpolicygenerator/ran-group-du-clo5-cleanup.yaml
  telco-ran/configuration/policygentemplates/group-du-clo5-cleanup-policy.yaml
  telco-ran/configuration/policygentemplates/kustomization.yaml
Due: none

telco-core, telco-ran: Remove CLO 5.x cleanup source CRs
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs/optional/logging/ClusterLogging5Cleanup.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/source-crs/cluster-logging/ClusterLogging5Cleanup.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-ran: Remove legacy CRI-O workload partitioning example from SNO policies
  telco-ran/configuration/acmpolicygenerator/ran-group-du-sno-templated.yaml
  telco-ran/configuration/policygentemplates/group-du-sno-ranGen-templated.yaml
Due: none

fix phc2sys -w flag for T-GM and T-BC profiles
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualTrTBC.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualTrTBC.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
Due: none

CNF-22163: Enable kubelet GracefulNodeShutdown in RAN DU PerformanceProfile
  telco-ran/configuration/kube-compare-reference/functions/unordered_list.tmpl
  telco-ran/configuration/kube-compare-reference/hack/arch/aarch64.yaml
  telco-ran/configuration/kube-compare-reference/hack/arch/x86_64.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile.yaml
Due: none

CNF-14592: add LokiStack configuration CRs
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/ClusterLogForwarder.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/LokiOperatorGroup.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/LokiOperatorNS.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/LokiSecret.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/LokiStack.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/LokiSubscription.yaml
  telco-core/configuration/reference-crs/optional/logging/ClusterLogForwarder.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiOperatorGroup.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiOperatorNS.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiOperatorStatus.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiSecret.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiStack.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiSubscription.yaml
Due: telco-core-rds-4-21-on-pull-request

Add root CA expiration monitoring for cert-manager
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerCertificatePolicy.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerRootCAExpirationPolicyPlacement.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerRootCAExpirationPolicyPlacementBinding.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerCertificatePolicy.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerRootCAExpirationPolicy.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerRootCAExpirationPolicyPlacement.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerRootCAExpirationPolicyPlacementBinding.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/kustomization.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Add missing kube-compare template for RootCAExpirationPolicy
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerRootCAExpirationPolicy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Revert "Restore cert-manager to RAN profile"
  telco-ran/configuration/acmpolicygenerator/ran-common.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerNS.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/README.md
  telco-ran/configuration/source-crs/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerNS.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorStatus.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressControllerConfig.yaml
Due: none

CNF-23812: Add OLM annotation lint workflow
  .github/workflows/olm-annotation-lint.yml
  Makefile
Due: none

CNF-25913 Update CLO to stable-6.6 and ODF to stable-4.22
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/ClusterLogSubscription.yaml
  telco-core/configuration/reference-crs/optional/logging/ClusterLogSubscription.yaml
  telco-core/configuration/reference-crs/required/storage/odf-external/odfSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/logging/clusterLogSubscription.yaml
  telco-hub/configuration/reference-crs/optional/logging/clusterLogSubscription.yaml
  telco-ran/configuration/kube-compare-reference/cluster-logging/ClusterLogSubscription.yaml
  telco-ran/configuration/source-crs/cluster-logging/ClusterLogSubscription.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-25913 Fix remaining CLO and ODF version references in hub odf-internal, crd-schema-config, and mirror config
  hack/crd-schema-config.json
  telco-core/configuration/core-upgrade.yaml
  telco-core/configuration/reference-crs-kube-compare/required/storage/odf-external/odfSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/odfSubscription.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: fix 4.21 references
  telco-ran/configuration/argocd/example/policygentemplates/common-ranGen.yaml
  telco-ran/configuration/source-crs/deprecated/PaoSubscriptionCatalogSource.yaml
Due: none

CNF-23811: Update paths and tooling for directory alignment
  .yamllint.yaml
  AGENTS.md
  VERSION_UPDATE_GUIDE.md
  hack/generate-schema-config.py
  hack/test-kustomize.sh
  telco-core/configuration/README.md
  telco-core/configuration/argocd/README.md
  telco-core/configuration/argocd/deployment/argocd-openshift-gitops-patch.json
  telco-core/configuration/argocd/deployment/gitops-cluster-clusterrole.yaml
  telco-core/configuration/argocd/deployment/gitops-policy-rolebinding.yaml
  telco-hub/configuration/reference-crs/required/acm/readme.md
  telco-ran/configuration/Makefile
  telco-ran/configuration/README.md
  telco-ran/configuration/acmpolicygenerator/README.md
  telco-ran/configuration/acmpolicygenerator/image-based-upgrades/README.md
  telco-ran/configuration/acmpolicygenerator/image-based-upgrades/acm-pg-ran-ibu-upgrade.yaml
  telco-ran/configuration/acmpolicygenerator/image-based-upgrades/kustomization.yaml
  telco-ran/configuration/acmpolicygenerator/ran-common-mno.yaml
  telco-ran/configuration/acmpolicygenerator/ran-common.yaml
  telco-ran/configuration/acmpolicygenerator/ran-example-reboot.yaml
  telco-ran/configuration/acmpolicygenerator/ran-group-du-3node-templated.yaml
  telco-ran/configuration/acmpolicygenerator/ran-group-du-3node-validator.yaml
  telco-ran/configuration/acmpolicygenerator/ran-group-du-sno-templated.yaml
  telco-ran/configuration/acmpolicygenerator/ran-group-du-sno-validator.yaml
  telco-ran/configuration/acmpolicygenerator/ran-group-du-standard-templated.yaml
  telco-ran/configuration/acmpolicygenerator/ran-group-du-standard-validator.yaml
  telco-ran/configuration/argocd/PowerConfiguration.md
  telco-ran/configuration/argocd/README.md
  telco-ran/configuration/argocd/SNOExpansion.md
  telco-ran/configuration/argocd/SecureBoot.md
  telco-ran/configuration/argocd/example/optional-extra-manifest/ipsec/README.md
  telco-ran/configuration/compare.sh
  telco-ran/configuration/hack/checkpolicypaths.sh
  telco-ran/configuration/hack/update_file_references.sh
  telco-ran/configuration/kustomization.yaml
  telco-ran/configuration/reference-crs-kube-compare/Makefile
  telco-ran/configuration/reference-crs-kube-compare/README.md
  telco-ran/configuration/reference-crs-kube-compare/hack/compare_ignore
  telco-ran/configuration/reference-crs/optional-extra-manifest/README.md
  telco-ran/install/extra-manifests-builder/README.md
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

OCPBUGS-76838: Fix duplicate module_blacklist kernel parameter
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/PerformanceProfile.yaml
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/TunedPerformancePatch.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/TunedPerformancePatch.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile.yaml
Due: none

CNF-26586: Update registry path from openshift4 to openshift5
  .tekton/build-pipeline-telco-core-rds.yaml
  .tekton/build-pipeline-telco-hub-rds.yaml
  telco-core/Dockerfile.telco-core
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs/required/scheduling/sched.yaml
  telco-hub/Dockerfile.telco-hub
  telco-hub/configuration/example-overlays-config/acm/acmMirrorRegistryCM-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/idms-operator-mirrors-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/itms-generic-mirrors-patch.yaml
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMirrorRegistryCM.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/configuration/reference-crs/required/gitops/get_ztp_installation.sh
  telco-hub/configuration/reference-crs/required/registry/idms-operator.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-23574: Bump ZTP images from RHEL8 to RHEL9
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/configuration/reference-crs/required/gitops/get_ztp_installation.sh
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-23574: Add RHEL9/UBI9 mirror registry entries alongside RHEL8/UBI8
  telco-hub/configuration/example-overlays-config/registry/itms-generic-mirrors-patch.yaml
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMirrorRegistryCM.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-26586: Add openshift5 registry entries alongside openshift4 in mirror configs
  telco-hub/configuration/example-overlays-config/acm/acmMirrorRegistryCM-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/idms-operator-mirrors-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/itms-generic-mirrors-patch.yaml
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMirrorRegistryCM.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-operator.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-26586: Fix ztp-site-generate refs to keep rhel8 and restore openshift4 for v4.21
  telco-hub/configuration/reference-crs/required/gitops/get_ztp_installation.sh
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Update PerformanceProfile.yaml in kube compare template
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/PerformanceProfile.yaml
Due: none

CNF-26586: Remove openshift4 mirror entries from IDMS/ITMS configs
  telco-hub/configuration/example-overlays-config/registry/idms-operator-mirrors-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/itms-generic-mirrors-patch.yaml
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-operator.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran, telco-hub: update RMF alertmanager fanout for ACM 5.0 mTLS
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePolicy.yaml
  telco-hub/configuration/reference-crs/required/acm/readme.md
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: update monitoring alertmanager fanout for ACM 5.0 mTLS
  telco-core/configuration/reference-crs-kube-compare/optional/other/monitoring-config-cm.yaml
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-22163: Fix invalid JSON and make shutdown grace periods mandatory
  telco-ran/configuration/kube-compare-reference/functions/unordered_list.tmpl
Due: none

Allow hub side templating for image pre-caching.
  telco-core/configuration/reference-crs/optional/other/precache/controlplane-olm-pinned-images.yaml
  telco-core/configuration/reference-crs/optional/other/precache/controlplane-releases-pinned-images.yaml
  telco-core/configuration/reference-crs/optional/other/precache/worker-olm-pinned-images.yaml
  telco-core/configuration/reference-crs/optional/other/precache/worker-releases-pinned-images.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-25913 Fix remaining CLO and ODF version references in hub odf-internal, crd-schema-config, and mirror config
  telco-core/configuration/core-upgrade.yaml
  telco-core/configuration/reference-crs-kube-compare/required/storage/odf-external/odfSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/odfSubscription.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Enable timer_migration=1 for all use cases until OCPBUGS-86541 is backported
  telco-core/configuration/reference-crs-kube-compare/required/performance/TunedPerformancePatch.yaml
  telco-core/configuration/reference-crs/required/performance/TunedPerformancePatch.yaml
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/TunedPerformancePatch.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/TunedPerformancePatch.yaml
Due: telco-core-rds-4-21-on-pull-request

Restore maxUnavailable value after MCPs are updated
  telco-core/configuration/core-upgrade-finish.yaml
Due: telco-core-rds-4-21-on-pull-request

Configure CPU requests for ODF for SMT alignment.
  telco-core/configuration/core-overlay.yaml
Due: telco-core-rds-4-21-on-pull-request

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)
