Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-core-rds-4-21-on-push: ((any of: .tekton/telco-core-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)

disable sast-coverity check for hub
  .tekton/telco-hub-rds-4-21-pull-request.yaml
  .tekton/telco-hub-rds-4-21-push.yaml
Due: telco-hub-rds-4-21-on-push

OCPBUGS-48492: core RDS: Ignore k8s.v1.cni.cncf.io/resourceName annotation
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-ran: remove siteconfig examples
  telco-ran/configuration/argocd/example/siteconfig/KlusterletAddonConfigOverride.yaml
  telco-ran/configuration/argocd/example/siteconfig/README.md
  telco-ran/configuration/argocd/example/siteconfig/example-3node.yaml
  telco-ran/configuration/argocd/example/siteconfig/example-sno.yaml
  telco-ran/configuration/argocd/example/siteconfig/example-standard.yaml
  telco-ran/configuration/argocd/example/siteconfig/kustomization.yaml
  telco-ran/install/siteconfig
Due: none

Update telco-hub/configuration/reference-crs/required/acm/readme.md
  telco-hub/configuration/reference-crs/required/acm/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

remove siteconfig resources from argo app
  telco-hub/configuration/reference-crs/required/gitops/ztp-installation/app-project.yaml
  telco-hub/configuration/reference-crs/required/gitops/ztp-installation/clusters-app.yaml
  telco-ran/configuration/argocd/deployment/app-project.yaml
  telco-ran/configuration/argocd/deployment/clusters-app.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: Move all required kernel arguments from PerformanceProfile to TunedPerformancePatch
  telco-ran/configuration/kube-compare-reference/hack/arch/aarch64.yaml
  telco-ran/configuration/kube-compare-reference/hack/arch/x86_64.yaml
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/PerformanceProfile.yaml
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/TunedPerformancePatch.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/TunedPerformancePatch.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile.yaml
Due: none

telco-ran: policy set labels
  telco-hub/configuration/reference-crs/required/gitops/extra-manifests-policy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-16828: Add systemReserved setting to Core and RAN RDS
  telco-core/configuration/reference-crs-kube-compare/required/performance/PerformanceProfile.yaml
  telco-core/configuration/reference-crs-kube-compare/unordered_list.tmpl
  telco-core/configuration/reference-crs/optional/tuning/control-plane-system-reserved.yaml
  telco-core/configuration/reference-crs/required/performance/PerformanceProfile.yaml
  telco-ran/configuration/kube-compare-reference/functions/unordered_list.tmpl
  telco-ran/configuration/kube-compare-reference/hack/arch/aarch64.yaml
  telco-ran/configuration/kube-compare-reference/hack/arch/x86_64.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare.sh
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/PerformanceProfile.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

CNF-19152: ZTP gitops webhook coverage
  telco-hub/configuration/reference-crs/required/gitops/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

[telco-hub] clarify MCE proxy addon configuration
  telco-hub/configuration/reference-crs/required/acm/disable-cluster-proxy-addon.json
  telco-hub/configuration/reference-crs/required/acm/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

[telco-hub] Disable proxy addon from MCE
  telco-hub/configuration/reference-crs/required/acm/acmMCE.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-14929: add bundle-unpack-min-retry-interval
  telco-core/configuration/reference-crs-kube-compare/optional/logging/ClusterLogOperGroup.yaml
  telco-core/configuration/reference-crs-kube-compare/required/networking/NMStateOperGroup.yaml
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/metallbOperGroup.yaml
  telco-core/configuration/reference-crs-kube-compare/required/networking/sriov/SriovSubscriptionOperGroup.yaml
  telco-core/configuration/reference-crs-kube-compare/required/scheduling/NROPSubscriptionOperGroup.yaml
  telco-core/configuration/reference-crs-kube-compare/required/storage/odf-external/odfOperGroup.yaml
  telco-core/configuration/reference-crs/optional/logging/ClusterLogOperGroup.yaml
  telco-core/configuration/reference-crs/required/networking/NMStateOperGroup.yaml
  telco-core/configuration/reference-crs/required/networking/metallb/metallbOperGroup.yaml
  telco-core/configuration/reference-crs/required/networking/sriov/SriovSubscriptionOperGroup.yaml
  telco-core/configuration/reference-crs/required/scheduling/NROPSubscriptionOperGroup.yaml
  telco-core/configuration/reference-crs/required/storage/odf-external/odfOperGroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/logging/clusterLogOperGroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/lso/lsoOperatorGroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/odfOperatorGroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmOperGroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/gitopsOperatorGroup.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-hub/configuration/reference-crs/optional/logging/clusterLogOperGroup.yaml
  telco-hub/configuration/reference-crs/optional/lso/lsoOperatorGroup.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/odfOperatorGroup.yaml
  telco-hub/configuration/reference-crs/required/acm/acmOperGroup.yaml
  telco-hub/configuration/reference-crs/required/gitops/gitopsOperatorGroup.yaml
  telco-ran/configuration/kube-compare-reference/cluster-logging/ClusterLogOperGroup.yaml
  telco-ran/configuration/kube-compare-reference/lca/LcaSubscriptionOperGroup.yaml
  telco-ran/configuration/kube-compare-reference/nmstate/NMStateSubscriptionOperGroup.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/PtpSubscriptionOperGroup.yaml
  telco-ran/configuration/kube-compare-reference/sriov-fec-operator/AcceleratorsOperGroup.yaml
  telco-ran/configuration/kube-compare-reference/sriov-operator/SriovSubscriptionOperGroup.yaml
  telco-ran/configuration/kube-compare-reference/storage-lso/StorageOperGroup.yaml
  telco-ran/configuration/kube-compare-reference/storage-lvm/StorageLVMSubscriptionOperGroup.yaml
  telco-ran/configuration/source-crs/cluster-logging/ClusterLogOperGroup.yaml
  telco-ran/configuration/source-crs/data-protection/OadpSubscriptionOperGroup.yaml
  telco-ran/configuration/source-crs/lca/LcaSubscriptionOperGroup.yaml
  telco-ran/configuration/source-crs/nmstate/NMStateSubscriptionOperGroup.yaml
  telco-ran/configuration/source-crs/ptp-operator/PtpSubscriptionOperGroup.yaml
  telco-ran/configuration/source-crs/sriov-fec-operator/AcceleratorsOperGroup.yaml
  telco-ran/configuration/source-crs/sriov-operator/SriovSubscriptionOperGroup.yaml
  telco-ran/configuration/source-crs/storage-lso/StorageOperGroup.yaml
  telco-ran/configuration/source-crs/storage-lvm/StorageLVMSubscriptionOperGroup.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: arg in x86 tuned for nmi kernel panic
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/TunedPerformancePatch.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/TunedPerformancePatch.yaml
Due: none

telco-core: add TuneD patch for core
  telco-core/configuration/reference-crs-kube-compare/required/performance/TunedPerformancePatch.yaml
  telco-core/configuration/reference-crs/required/performance/TunedPerformancePatch.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

Add cert-manager to RAN and Core
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerNS.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerSubscription.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/consoleCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/downloadsCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/oauthServiceCertificate.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

Only add/remove MachineConfigs
  telco-hub/configuration/reference-crs/required/gitops/extra-manifests-policy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: include overlays and optional section in metadata
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/required/performance/TunedPerformancePatch.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

Address comments 1
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerNS.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/ingressCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/consoleCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/downloadsCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/ingressCertificate.yaml
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerNS.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/ingressCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/consoleCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/downloadsCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerNS.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerNS.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressCertificate.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: include symlink
  telco-ran/configuration/argocd/policies/extra-manifests-policy.yaml
Due: none

add note
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-hub: update readme
  telco-hub/configuration/reference-crs/required/acm/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: add note in kube-compare
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: none

clarify MCE proxy addon configuration
  telco-hub/configuration/reference-crs/required/acm/disable-cluster-proxy-addon.json
  telco-hub/configuration/reference-crs/required/acm/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

update policy to be inform mode
  telco-hub/configuration/reference-crs/required/gitops/extra-manifests-policy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: move policy to folder and include readme
  telco-hub/configuration/reference-crs/required/gitops/readme.md
  telco-hub/configuration/reference-crs/required/gitops/ztp-policies/extra-manifests-policy.yaml
  telco-hub/configuration/reference-crs/required/gitops/ztp-policies/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: worker profiles for tuned patch
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/required/performance/TunedPerformancePatch.yaml
  telco-core/configuration/reference-crs/required/performance/TunedPerformancePatch.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-core: custom tuned overlay
  telco-core/configuration/core-overlay.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-core: fix spec.profile.name in kube-compare
  telco-core/configuration/reference-crs-kube-compare/required/performance/TunedPerformancePatch.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-core: comment template for custom profile tuned patch
  telco-core/configuration/core-overlay.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-core: move comment
  telco-core/configuration/reference-crs-kube-compare/required/performance/TunedPerformancePatch.yaml
  telco-core/configuration/reference-crs/required/performance/TunedPerformancePatch.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

RAN Hardening (SSHD) - High Severity
  telco-ran/configuration/machineconfigs/sshd/75-sshd-config-high.yaml
Due: none

telco-hub: kube-compare MCO: add default for instanceSize
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityMCO.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: remove annotation for deploy wave
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/required/performance/TunedPerformancePatch.yaml
  telco-core/configuration/reference-crs/required/performance/TunedPerformancePatch.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-hub: remove v1 from policy and other crs
  telco-hub/configuration/reference-crs/required/gitops/ztp-policies/extra-manifests-policy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: update readme
  telco-hub/configuration/reference-crs/required/gitops/readme.md
  telco-hub/configuration/reference-crs/required/gitops/ztp-policies/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: readme
  telco-hub/configuration/reference-crs/required/gitops/ztp-policies/readme.md
  telco-ran/configuration/argocd/ExtraManifestsPolicy.md
  telco-ran/configuration/argocd/policies/extra-manifests-policy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push
