Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)

telco-ran: update ptp configuration files interface format
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigBoundary.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigBoundaryForEvent.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGmWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigThreeCardGmWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigBoundary.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigBoundaryForEvent.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGmWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigThreeCardGmWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
Due: none

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: none

telco-core: remove conflicting wave annotation from ClusterLogOperatorStatus
  telco-core/configuration/reference-crs/optional/logging/ClusterLogOperatorStatus.yaml
Due: telco-core-rds-4-21-on-pull-request

Convert monitoring observability templating from spoke-side to hub-side
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePolicy.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

RAN Hardening (m1-sshd-medium): compliance remediation for OCP 4.22
  telco-ran/configuration/machineconfigs/sshd/00-compliance-sshd-hardening-master.yaml
  telco-ran/configuration/machineconfigs/sshd/00-compliance-sshd-hardening-worker.yaml
Due: none

RAN Hardening (m10-api-encryption): compliance remediation for OCP 4.22
  telco-ran/configuration/hardening/api-server/75-api-server-encryption.yaml
Due: none

RAN Hardening (m4-audit-selinux): compliance remediation for OCP 4.22
  telco-ran/configuration/machineconfigs/audit/75-audit-selinux-master.yaml
  telco-ran/configuration/machineconfigs/audit/75-audit-selinux-worker.yaml
Due: none

RAN Hardening (m7-audit-login): compliance remediation for OCP 4.22
  telco-ran/configuration/machineconfigs/audit/75-audit-login-master.yaml
  telco-ran/configuration/machineconfigs/audit/75-audit-login-worker.yaml
Due: none

CNF-21212: RAN Hardening (4.22) - HIGH Severity Compliance Remediations
  telco-ran/configuration/machineconfigs/crypto-policy/75-crypto-policy-high-master.yaml
  telco-ran/configuration/machineconfigs/crypto-policy/75-crypto-policy-high-worker.yaml
  telco-ran/configuration/machineconfigs/pam/75-pam-auth-high-master.yaml
  telco-ran/configuration/machineconfigs/pam/75-pam-auth-high-worker.yaml
Due: none

RAN Hardening (m6-audit-time): compliance remediation for OCP 4.22
  telco-ran/configuration/machineconfigs/audit/75-audit-time-master.yaml
  telco-ran/configuration/machineconfigs/audit/75-audit-time-worker.yaml
Due: none

CNF-21326: RAN Hardening (4.22) - SSHD (H3: PermitEmptyPasswords)
  telco-ran/configuration/machineconfigs/sshd/75-sshd-permit-empty-passwords-master.yaml
  telco-ran/configuration/machineconfigs/sshd/75-sshd-permit-empty-passwords-worker.yaml
Due: none

Removed ignore-unspecified-fields from kube-compare metadata
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request

Removed ignore-unspecified-fields from kube-compare metadata
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request

kube-compare: omit ztp-deploy-wave annotation on CRs (Core, Hub)
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Added monitoringLabel to ignore only cluster minitoring label
  telco-ran/configuration/kube-compare-reference/metadata.yaml
Due: none

Added cluster monitoring label to SR-IOV namespace
  telco-core/configuration/reference-crs-kube-compare/required/networking/sriov/SriovSubscriptionNS.yaml
  telco-core/configuration/reference-crs/required/networking/sriov/SriovSubscriptionNS.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/sriov-operator/SriovSubscriptionNS.yaml
  telco-ran/configuration/source-crs/sriov-operator/SriovSubscriptionNS.yaml
Due: telco-core-rds-4-21-on-pull-request

Added cluster monitoring label to SR-IOV namespace
  telco-ran/configuration/kube-compare-reference/metadata.yaml
Due: none

Replacing a fixed Base64 with dynamic logic
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
Due: telco-core-rds-4-21-on-pull-request

Replacing a fixed Base64 with dynamic logic
  telco-core/configuration/reference-crs-kube-compare/optional/other/worker-load-kernel-modules.yaml
Due: telco-core-rds-4-21-on-pull-request

Update control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
Due: telco-core-rds-4-21-on-pull-request

Uncomment release info in YAML configuration
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
Due: telco-core-rds-4-21-on-pull-request

Remove empty line in control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
Due: telco-core-rds-4-21-on-pull-request

Update worker-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/worker-load-kernel-modules.yaml
Due: telco-core-rds-4-21-on-pull-request

Fix indentation in worker-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/worker-load-kernel-modules.yaml
Due: telco-core-rds-4-21-on-pull-request

Update 03-sctp-machine-config-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/03-sctp-machine-config-master.yaml
Due: none

Fix SCTP blacklist configuration in YAML file
  telco-ran/configuration/source-crs/extra-manifest/03-sctp-machine-config-worker.yaml
Due: none

telco-core: migrate PolicyGenerator placement to labelSelector with matchLabels
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/core-finish.yaml
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/core-upgrade-finish.yaml
  telco-core/configuration/core-upgrade-precache.yaml
  telco-core/configuration/core-upgrade.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-core: align policy names in core-overlay with naming convention
  telco-core/configuration/core-overlay.yaml
Due: telco-core-rds-4-21-on-pull-request

Add evaluationInterval to core-finish MCP policies
  telco-core/configuration/core-finish.yaml
Due: telco-core-rds-4-21-on-pull-request

Move core-operator-config-4.22 to wave 6 to prevent NMState CRD race condition
  telco-core/configuration/core-baseline.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-ran: add gnrd extra-manifests
  telco-ran/configuration/argocd/example/clusterinstance/kustomization.yaml
Due: none

telco-hub: add ignore in hub kube-compare-reference for oc-mirror annotations
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: remove conflicting wave annotations from source-crs
  telco-core/configuration/reference-crs/optional/logging/ClusterLogOperatorStatus.yaml
  telco-core/configuration/reference-crs/optional/other/ClusterVersion.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-ran: add check for optional kubeletconfig annotation
  telco-core/configuration/reference-crs-kube-compare/unordered_list.tmpl
  telco-ran/configuration/kube-compare-reference/functions/unordered_list.tmpl
Due: telco-core-rds-4-21-on-pull-request

Added ignore cluster minitoring field in core kube compare metadata file
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-core: configure kubens.service on the cluster
  telco-core/configuration/core-baseline.yaml
Due: telco-core-rds-4-21-on-pull-request
