Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)

RAN Hardening (m5-audit-modules): compliance remediation for OCP 4.22
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-kernel-modules-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-kernel-modules-worker.yaml
Due: none

RAN Hardening (m10-api-encryption): compliance remediation for OCP 4.22
  telco-ran/configuration/hardening/api-server/75-api-server-encryption.yaml
Due: none

Change uploaderType from restic to kopia
  telco-ran/configuration/source-crs/data-protection/OadpDataProtectionApplication.yaml
Due: none

tekton: fix telco-reference tekton 4.22
  .tekton/telco-core-rds-4-22-pull-request.yaml
  .tekton/telco-core-rds-4-22-push.yaml
  .tekton/telco-hub-rds-4-22-pull-request.yaml
  .tekton/telco-hub-rds-4-22-push.yaml
Due: none

CNF-23574: Bump ZTP images from RHEL8 to RHEL9
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/configuration/reference-crs/required/gitops/get_ztp_installation.sh
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-23578: Add yamllint coverage for telco-ran configuration
  Makefile
  telco-ran/configuration/kube-compare-reference/cluster-tuning/operator-hub/DisconnectedIDMS.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-worker.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualFollower.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
  telco-ran/configuration/kube-compare-reference/sriov-fec-operator/SriovFecClusterConfig.yaml
  telco-ran/configuration/kube-compare-reference/sriov-fec-operator/SriovVrbClusterConfig.yaml
  telco-ran/configuration/kube-compare-reference/sriov-operator/SriovOperatorConfig.yaml
  telco-ran/configuration/source-crs/data-protection/OadpOperatorStatus.yaml
  telco-ran/configuration/source-crs/deprecated/AmqSubscription.yaml
  telco-ran/configuration/source-crs/disconnected-registry/DisconnectedIDMS.yaml
  telco-ran/configuration/source-crs/ibu/PlatformBackupRestoreWithIBGU.yaml
  telco-ran/configuration/source-crs/lca/LcaOperatorStatus.yaml
  telco-ran/configuration/source-crs/machine-config/RebootMachineConfig.yaml
  telco-ran/configuration/source-crs/optional-extra-manifest/enable-crun-master.yaml
  telco-ran/configuration/source-crs/optional-extra-manifest/enable-crun-worker.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualFollower.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
  telco-ran/configuration/source-crs/sriov-fec-operator/SriovFecClusterConfig.yaml
  telco-ran/configuration/source-crs/sriov-fec-operator/SriovVrbClusterConfig.yaml
  telco-ran/configuration/source-crs/sriov-operator/SriovOperatorConfig-SetSelector.yaml
  telco-ran/configuration/source-crs/sriov-operator/SriovOperatorConfig.yaml
  telco-ran/configuration/source-crs/storage-lso/StorageOperatorStatus.yaml
Due: none

Add ShellCheck GitHub Actions workflow
  .github/workflows/shellcheck.yml
  telco-ran/configuration/extra-manifests-builder/01-container-mount-ns-and-kubelet-conf/test.sh
  telco-ran/configuration/extra-manifests-builder/08-set-rcu-normal/test.sh
Due: none

telco-ran: kernel boot param for Intel iavf early load
  telco-ran/configuration/source-crs/node-tuning-operator/TunedPerformancePatch.yaml
Due: none

telco-ran: update kube-compare-reference for performance patch
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/TunedPerformancePatch.yaml
Due: none

CNF-22981: Update renovate config to use allow-automatic-merge label
  renovate.json
Due: none

tekton: update main branch tekton
  .tekton/telco-core-rds-5-0-pull-request.yaml
  .tekton/telco-core-rds-5-0-push.yaml
  .tekton/telco-hub-rds-5-0-pull-request.yaml
  .tekton/telco-hub-rds-5-0-push.yaml
  telco-core/Dockerfile.telco-core
  telco-hub/Dockerfile.telco-hub
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: update clusterinstance
  telco-core/install/example-standard-clusterinstance.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-17181: Extend Core reference configuration with NHC/SNR operators
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NHCSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NHCSubscriptionNS.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NHCSubscriptionOperGroup.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NodeHealthCheck.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/SNRSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/SelfNodeRemediationConfig.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/SelfNodeRemediationTemplate.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NHCSubscription.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NHCSubscriptionNS.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NHCSubscriptionOperGroup.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NodeHealthCheck.yaml
  telco-core/configuration/reference-crs/required/node-health-check/SNRSubscription.yaml
  telco-core/configuration/reference-crs/required/node-health-check/SelfNodeRemediationConfig.yaml
  telco-core/configuration/reference-crs/required/node-health-check/SelfNodeRemediationTemplate.yaml
Due: telco-core-rds-4-21-on-pull-request

RAN Hardening - Crypto Policy (H1)
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-crypto-policy-high-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-crypto-policy-high-worker.yaml
Due: none

RAN Hardening - PAM Empty Passwords (H2)
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-worker.yaml
Due: none

RAN Hardening (m2-kernel-sysctl): compliance remediation for OCP 4.22
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sysctl-kernel-hardening-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sysctl-kernel-hardening-worker.yaml
Due: none

telco-ran: update clusterinstance examples with cpuPartitioningMode
  telco-ran/configuration/argocd/example/clusterinstance/example-3node.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-standard.yaml
Due: none

telco-hub: include missing obs-route-policy
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePolicy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

OCPBUGS-83865: Add MC to change stalld backend
  telco-ran/configuration/argocd/AdditionalManifests.md
  telco-ran/configuration/argocd/example/clusterinstance/kustomization.yaml
  telco-ran/configuration/extra-manifests-builder/11-stalld-backend/build.sh
  telco-ran/configuration/extra-manifests-builder/11-stalld-backend/stalld-backend
  telco-ran/configuration/extra-manifests-builder/11-stalld-backend/stalld-backend.conf
  telco-ran/configuration/kube-compare-reference/machine-config/stalld-backend/11-stalld-backend-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/stalld-backend/11-stalld-backend-worker.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/extra-manifest/11-stalld-backend-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/11-stalld-backend-worker.yaml
Due: none

Remove invalid olm.operatorframework.io/bundle-install-timeout annotation
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Fix sed portability across macOS and Linux
  telco-core/configuration/compare.sh
  telco-hub/configuration/reference-crs-kube-compare/compare.sh
  telco-hub/configuration/reference-crs/required/gitops/get_ztp_installation.sh
  telco-ran/configuration/hack/update_file_references.sh
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

core: dedupe MachineConfigs to install/extra-manifests; add install/kube-compare sync check
  .gitattributes
  hack/check-core-install-extra-manifest-sync.sh
  telco-core/configuration/Makefile
  telco-core/configuration/core-finish.yaml
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/core-upgrade-finish.yaml
  telco-core/configuration/core-upgrade.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/optional/networking/multus/tap_cni/mc_rootless_pods_selinux.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/worker-load-kernel-modules.yaml
  telco-core/configuration/reference-crs/custom-manifests/README.md
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-1.yaml
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-2.yaml
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-3.yaml
  telco-core/configuration/reference-crs/optional/networking/multus/tap_cni/mc_rootless_pods_selinux.yaml
  telco-core/configuration/reference-crs/optional/other/control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs/optional/other/kdump-master.yaml
  telco-core/configuration/reference-crs/optional/other/kdump-worker.yaml
  telco-core/configuration/reference-crs/optional/other/mount_namespace_config_master.yaml
  telco-core/configuration/reference-crs/optional/other/mount_namespace_config_worker.yaml
  telco-core/configuration/reference-crs/optional/other/sctp_module_mc.yaml
  telco-core/configuration/reference-crs/optional/other/worker-load-kernel-modules.yaml
  telco-core/install/README.md
  telco-core/install/custom-manifests/README.md
  telco-core/install/example-standard-clusterinstance.yaml
  telco-core/install/extra-manifests/mcp-worker-1.yaml
  telco-core/install/extra-manifests/mcp-worker-2.yaml
  telco-core/install/extra-manifests/mcp-worker-3.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-ran: move enable-crun to extra-manifest; align policies and add sync check
  hack/check-ran-crun-extra-manifest-sync.sh
  telco-ran/configuration/Makefile
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-standard-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-3node-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-standard-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-standard-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-3node-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-standard-ranGen-templated.yaml
  telco-ran/configuration/source-crs/extra-manifest/enable-crun-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/enable-crun-worker.yaml
  telco-ran/configuration/source-crs/optional-extra-manifest/README.md
Due: none

CNF-23812: Add OLM annotation lint workflow
  .github/workflows/olm-annotation-lint.yml
Due: none

telco-ran: Pre-create /run/netns bindmount so it propagates to the container-mount-namespace
  telco-ran/configuration/extra-manifests-builder/01-container-mount-ns-and-kubelet-conf/container-mount-namespace.service
  telco-ran/configuration/kube-compare-reference/machine-config/kubelet-configuration-and-container-mount-hiding/01-container-mount-ns-and-kubelet-conf-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/kubelet-configuration-and-container-mount-hiding/01-container-mount-ns-and-kubelet-conf-worker.yaml
  telco-ran/configuration/source-crs/extra-manifest/01-container-mount-ns-and-kubelet-conf-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/01-container-mount-ns-and-kubelet-conf-worker.yaml
Due: none

telco-core: align sctp_module_mc install extra-manifest with ignition 3.2.0
  hack/check-core-install-extra-manifest-sync.sh
  telco-core/install/extra-manifests/sctp_module_mc.yaml
Due: telco-core-rds-4-21-on-pull-request

Address PR 761 review: extend compare.sh, drop gitattributes and hack scripts
  .gitattributes
  hack/check-core-install-extra-manifest-sync.sh
  hack/check-ran-crun-extra-manifest-sync.sh
  telco-core/configuration/Makefile
  telco-core/configuration/compare.sh
  telco-core/install/README.md
  telco-ran/configuration/Makefile
  telco-ran/configuration/source-crs/extra-manifest/enable-crun-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/enable-crun-worker.yaml
Due: telco-core-rds-4-21-on-pull-request

Add nftables firewall reference CRs for commatrix integration
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/networking/firewall/node-disruption-policy.yaml
  telco-core/configuration/reference-crs-kube-compare/required-object-list.tmpl
  telco-core/configuration/reference-crs/optional/networking/firewall/node-disruption-policy.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-hub: add to extra-manifests policy to kustomization
  telco-hub/configuration/reference-crs/required/gitops/kustomization.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-14592: add LokiStack configuration CRs to the optional reference section
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/optional/logging/ClusterLogForwarder.yaml
  telco-core/configuration/reference-crs/optional/logging/ClusterLogForwarder-LokiStack.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiOperatorGroup.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiOperatorNS.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiOperatorStatus.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiSecret.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiStack.yaml
  telco-core/configuration/reference-crs/optional/logging/LokiSubscription.yaml
  telco-core/install/extra-manifests/Network.yaml
  telco-hub/install/openshift/openshift/Network.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: add ignore in hub kube-compare-reference for oc-mirror annotations
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Move MetalLB configuraiton state to core-overlay
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/core-overlay.yaml
Due: telco-core-rds-4-21-on-pull-request

Rename pullSecretMCSB.yaml to observabilityMCSB.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityMCSB.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push
