Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core-rds-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

telco-hub-rds-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

Restore cert-manager to RAN profile
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerNS.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/README.md
  telco-ran/configuration/source-crs/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerNS.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorStatus.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressControllerConfig.yaml
Due: none

RAN Hardening - Auditd Configuration (M9)
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-auditd-configuration-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-auditd-configuration-worker.yaml
Due: none

RAN Hardening (m5-audit-modules): compliance remediation for OCP 4.22
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-kernel-modules-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-kernel-modules-worker.yaml
Due: none

RAN Hardening - PAM Empty Passwords (H2)
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-worker.yaml
Due: none

RAN Hardening (m10-api-encryption): compliance remediation for OCP 4.22
  telco-ran/configuration/hardening/api-server/75-api-server-encryption.yaml
Due: none

Add PtpConfigDualTrTBC dual-Rx T-BC WPC PTP profile
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualTrTBC.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualTrTBC.yaml
Due: none

Add scopes for ACM, NHC and NSR operators
  telco-core/install/extra-manifests/clusterimagepolicy-telco-core-operators.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-25539: Support active-backup and balance-xor bond modes in NAD kube-compare validation
  telco-core/configuration/reference-crs-kube-compare/optional/networking/networkAttachmentDefinition.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-23793 RAN: accept net.userLevelNetworking as optional variation in PerformanceProfile
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/PerformanceProfile.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile.yaml
Due: none

CNF-23793 RAN: fix lintcheck failures in PerformanceProfile net section
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/PerformanceProfile.yaml
Due: none

CNF-22194 Core: fix grep regex and revert accidental MCP changes
  telco-core/configuration/compare.sh
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-1.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-22194 Core: sync mcp-worker-1 install manifest with reference-crs
  telco-core/install/extra-manifests/mcp-worker-1.yaml
Due: telco-core-rds-4-21-on-pull-request

update AUTH LDAP bind variable and RHOSO mirror
  .github/CODEOWNERS‎
  tnc-reference/tnc-aiwl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncConfigMap.yaml
  tnc-reference/tnc-aiwl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncJob.yaml
  tnc-reference/tnc-aiwl/configuration/other-crs/required/manifests/idms.yaml
  tnc-reference/tnc-cwl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncConfigMap.yaml
  tnc-reference/tnc-cwl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncJob.yaml
  tnc-reference/tnc-cwl/configuration/other-crs/required/manifests/idms.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncConfigMap.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncJob.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/other-crs/required/manifests/idms.yaml
  tnc-reference/tnc-rhoso/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncConfigMap.yaml
  tnc-reference/tnc-rhoso/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncJob.yaml
  tnc-reference/tnc-rhoso/configuration/other-crs/required/RHOSO/cephSecret.yaml
  tnc-reference/tnc-rhoso/configuration/other-crs/required/RHOSO/rhosoKeys.yaml
  tnc-reference/tnc-rhoso/configuration/other-crs/required/manifests/idms.yaml
  tnc-reference/tnc-rhoso/configuration/rhoso-baseline.yaml
  tnc-reference/tnc-vewl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncConfigMap.yaml
  tnc-reference/tnc-vewl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncJob.yaml
  tnc-reference/tnc-vewl/configuration/other-crs/required/manifests/idms.yaml
Due: none

Restore OWNERS file for TNC 6.1 branch
  OWNERS
  OWNERS_ALIASES
Due: none

CNF-23556: CNF-23557: Address review comments
  hack/test-kustomize.sh
  telco-hub/configuration/reference-crs/required/gitops/ztp-installation/clusters-app.yaml
  telco-hub/configuration/reference-crs/required/gitops/ztp-installation/policies-app.yaml
  telco-ran/configuration/README.md
  telco-ran/configuration/acmpolicygenerator/README.md
  telco-ran/configuration/acmpolicygenerator/image-based-upgrades/README.md
  telco-ran/configuration/acmpolicygenerator/image-based-upgrades/acm-pg-ran-ibu-upgrade.yaml
  telco-ran/configuration/acmpolicygenerator/image-based-upgrades/kustomization.yaml
  telco-ran/configuration/acmpolicygenerator/image-based-upgrades/pgt-ibu-upgrade.yaml
  telco-ran/configuration/acmpolicygenerator/kustomization.yaml
  telco-ran/configuration/acmpolicygenerator/ran-example-multinode-site.yaml
  telco-ran/configuration/acmpolicygenerator/ran-example-sno-site.yaml
  telco-ran/configuration/argocd/README.md
  telco-ran/configuration/argocd/SNOExpansion.md
  telco-ran/configuration/argocd/deployment/policies-app.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-3node.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-sno.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-standard.yaml
  telco-ran/configuration/policygentemplates/example-multinode-site.yaml
  telco-ran/configuration/policygentemplates/example-sno-site.yaml
  telco-ran/configuration/policygentemplates/kustomization.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Update defaultChannel and channels for multicluster-engine
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

add OWNERS
  OWNERS
  OWNERS_ALIASES
  tnc-reference/tnc-ghub/configuration/overlays/gitops/init-argocd-app.yaml
  tnc-reference/tnc-mgmt/configuration/overlays/gitops/init-argocd-app.yaml
Due: none

CNF-22194 RAN: address PR review feedback
  VERSION_UPDATE_GUIDE.md
  hack/test-kustomize.sh
  telco-ran/configuration/argocd/SNOExpansion.md
  telco-ran/configuration/argocd/example/clusterinstance/kustomization.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-worker.yaml
  telco-ran/configuration/source-crs/README.md
  telco-ran/install/README.md
  telco-ran/install/clusterinstance
  telco-ran/install/clusterinstance/README.md
  telco-ran/install/clusterinstance/example-3node.yaml
  telco-ran/install/clusterinstance/example-sno.yaml
  telco-ran/install/clusterinstance/example-standard.yaml
  telco-ran/install/clusterinstance/kustomization.yaml
  telco-ran/install/custom-manifests/enable-crun-master.yaml
  telco-ran/install/custom-manifests/enable-crun-worker.yaml
  telco-ran/install/kustomization.yaml
Due: none

CNF-22194 RAN: fix doc paths for clusterinstance and custom-manifests
  telco-ran/configuration/argocd/AdditionalManifests.md
  telco-ran/configuration/source-crs/optional-extra-manifest/README.md
Due: none

CNF-22194 RAN: fix source-crs symlink targets
  telco-ran/configuration/source-crs/deprecated/MachineConfigContainerMountNS.yaml
  telco-ran/configuration/source-crs/machine-config/MachineConfigSctp.yaml
Due: none

CNF-22194 RAN: restore deleted extra-manifests files
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-master.yaml
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-worker.yaml
Due: none

CNF-22194 RAN: exclude install manifests from kube-compare sync
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
Due: none

CNF-22194 RAN: fix lintcheck failures
  .yamllint.yaml
Due: none

CNF-22194 RAN: fix missing newlines and add configmap example for ClusterInstance
  telco-ran/configuration/source-crs/deprecated/MachineConfigContainerMountNS.yaml
  telco-ran/configuration/source-crs/machine-config/MachineConfigSctp.yaml
  telco-ran/install/clusterinstance/kustomization.yaml
Due: none

CNF-22194 RAN: fix broken symlinks and move configmap to parent kustomization
  telco-ran/configuration/source-crs/deprecated/MachineConfigContainerMountNS.yaml
  telco-ran/configuration/source-crs/machine-config/MachineConfigSctp.yaml
  telco-ran/install/clusterinstance/kustomization.yaml
Due: none

CNF-22194 RAN: fix trailing newline in gnrd-interfaces manifests
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-master.yaml
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-worker.yaml
Due: none

CNF-22194 RAN: move extra-manifests into clusterinstance for kustomize configmap
  .yamllint.yaml
  telco-ran/configuration/compare.sh
  telco-ran/install/clusterinstance/extra-manifests/01-container-mount-ns-and-kubelet-conf-master.yaml
  telco-ran/install/clusterinstance/extra-manifests/01-container-mount-ns-and-kubelet-conf-worker.yaml
  telco-ran/install/clusterinstance/extra-manifests/01-disk-encryption-pcr-rebind-master.yaml
  telco-ran/install/clusterinstance/extra-manifests/01-disk-encryption-pcr-rebind-worker.yaml
  telco-ran/install/clusterinstance/extra-manifests/03-sctp-machine-config-master.yaml
  telco-ran/install/clusterinstance/extra-manifests/03-sctp-machine-config-worker.yaml
  telco-ran/install/clusterinstance/extra-manifests/06-kdump-master.yaml
  telco-ran/install/clusterinstance/extra-manifests/06-kdump-worker.yaml
  telco-ran/install/clusterinstance/extra-manifests/07-sriov-related-kernel-args-master.yaml
  telco-ran/install/clusterinstance/extra-manifests/07-sriov-related-kernel-args-worker.yaml
  telco-ran/install/clusterinstance/extra-manifests/08-set-rcu-normal-master.yaml
  telco-ran/install/clusterinstance/extra-manifests/08-set-rcu-normal-worker.yaml
  telco-ran/install/clusterinstance/extra-manifests/09-openshift-marketplace-ns.yaml
  telco-ran/install/clusterinstance/extra-manifests/10-rename-gnrd-interfaces-master.yaml
  telco-ran/install/clusterinstance/extra-manifests/10-rename-gnrd-interfaces-worker.yaml
  telco-ran/install/clusterinstance/extra-manifests/99-sync-time-once-master.yaml
  telco-ran/install/clusterinstance/extra-manifests/99-sync-time-once-worker.yaml
  telco-ran/install/clusterinstance/kustomization.yaml
  telco-ran/install/extra-manifests-builder/Makefile
  telco-ran/install/kustomization.yaml
Due: none

CNF-22194 RAN: remove trailing newline from gnrd-interfaces manifests
  telco-ran/configuration/kube-compare-reference/machine-config/rename-gnrd-interfaces/10-rename-gnrd-interfaces-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/rename-gnrd-interfaces/10-rename-gnrd-interfaces-worker.yaml
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-master.yaml
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-worker.yaml
Due: none

CNF-22194 RAN: fix symlink targets after extra-manifests move to clusterinstance
  telco-ran/configuration/source-crs/deprecated/MachineConfigContainerMountNS.yaml
  telco-ran/configuration/source-crs/machine-config/MachineConfigSctp.yaml
Due: none

CNF-22194 RAN: remove duplicate configmap generator from parent kustomization
  telco-ran/install/kustomization.yaml
Due: none

Add hub-spoke trust config, root CA monitoring, and kubeconfig guidance
  telco-core/configuration/reference-crs/optional/cert-manager/README.md
  telco-core/install/example-standard-clusterinstance.yaml
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerCertificatePolicy.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerHubCAConfigMap.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerKlusterletConfig.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerRootCAExpirationPolicyPlacement.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerRootCAExpirationPolicyPlacementBinding.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/README.md
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerCertificatePolicy.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerHubCAConfigMap.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerKlusterletConfig.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerRootCAExpirationPolicy.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerRootCAExpirationPolicyPlacement.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerRootCAExpirationPolicyPlacementBinding.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/kustomization.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-3node.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-sno.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-standard.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: reference update for mch/mce in acm2.16
  telco-hub/configuration/reference-crs/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCH.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: sync kube-compare refs for mch/mce in acm2.16
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCH.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-24266 Enforce workload partitioning
  telco-core/configuration/hack/cluster-default-crs/infrastructure-config.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/platform/infrastructure.yaml
Due: telco-core-rds-4-21-on-pull-request

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)
