Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core-rds-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

telco-hub-rds-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

konflux: add abraham to konflux-approvers
  OWNERS_ALIASES
Due: none

add andres to konflux-approvers
  OWNERS_ALIASES
Due: none

Migrate task-init to 0.3 for release-4.21
  .tekton/build-pipeline-telco-core-rds.yaml
  .tekton/build-pipeline-telco-hub-rds.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-21-on-push

Migrate task-init to 0.3 for release-4.20
  .tekton/build-pipeline-telco-core-rds.yaml
  .tekton/build-pipeline-telco-hub-rds.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-21-on-push

Migrate task-init to 0.3 for release-4.19
  .tekton/build-pipeline-telco-core-rds.yaml
  .tekton/build-pipeline-telco-hub-rds.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-21-on-push

Migrate task-init to 0.3 for release-4.18
  .tekton/telco-core-rds-4-18-pull-request.yaml
  .tekton/telco-core-rds-4-18-push.yaml
Due: none

Migrate task-init to 0.3 for release-4.17
  .tekton/telco-core-rds-4-17-pull-request.yaml
  .tekton/telco-core-rds-4-17-push.yaml
Due: none

Migrate task-init to 0.3 for release-4.16
  .tekton/telco-core-rds-4-16-pull-request.yaml
  .tekton/telco-core-rds-4-16-push.yaml
Due: none

OCPBUGS-78546: Add missing rbac permissions
  telco-hub/configuration/reference-crs/required/gitops/clusterrole.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: update clusterinstance
  telco-core/install/example-standard-clusterinstance.yaml
Due: telco-core-rds-4-21-on-pull-request

update kubecompare reference
  telco-core/configuration/reference-crs-kube-compare/optional/logging/ClusterLogSubscription.yaml
  telco-ran/configuration/kube-compare-reference/cluster-logging/ClusterLogSubscription.yaml
Due: telco-core-rds-4-21-on-pull-request

OCPBUGS-78088: Fix NUMA Resources Operator version to 4.21 in Core RDS
  telco-core/configuration/reference-crs/required/scheduling/NROPSubscription.yaml
  telco-core/configuration/reference-crs/required/scheduling/sched.yaml
Due: telco-core-rds-4-21-on-pull-request

update CLO version in ran and core reference
  telco-core/configuration/reference-crs-kube-compare/optional/logging/ClusterLogSubscription.yaml
  telco-core/configuration/reference-crs/optional/logging/ClusterLogSubscription.yaml
  telco-ran/configuration/kube-compare-reference/cluster-logging/ClusterLogSubscription.yaml
  telco-ran/configuration/source-crs/cluster-logging/ClusterLogSubscription.yaml
Due: telco-core-rds-4-21-on-pull-request

Update tekton version to 4.22 - This branch has not been 4.20 in awhile
  .tekton/build-pipeline-telco-core-rds.yaml
  .tekton/build-pipeline-telco-hub-rds.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-21-on-push

Update tekton version to 4.21 - This branch should have been updated when it was created
  .tekton/build-pipeline-telco-core-rds.yaml
  .tekton/build-pipeline-telco-hub-rds.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-21-on-push

CNF-21212: RAN Hardening - HIGH Severity Compliance Remediations
  telco-ran/configuration/machineconfigs/crypto-policy/75-crypto-policy-high.yaml
  telco-ran/configuration/machineconfigs/pam/75-pam-auth-high.yaml
  telco-ran/configuration/machineconfigs/sshd/75-sshd-high.yaml
Due: none

Remove SSHD config - consolidating into PR #466
  telco-ran/configuration/machineconfigs/sshd/75-sshd-high.yaml
Due: none

RAN Hardening (SSHD) - High Severity
  telco-ran/configuration/machineconfigs/sshd/75-sshd-config-high.yaml
Due: none

Consolidate SSHD hardening with all CO severity levels
  telco-ran/configuration/machineconfigs/sshd/75-sshd-config-high.yaml
  telco-ran/configuration/machineconfigs/sshd/75-sshd-hardening.yaml
Due: none

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: none

Update all version references for OpenShift 4.22
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/core-finish.yaml
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/core-upgrade.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/logging/ClusterLogSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/required/storage/odf-external/odfSubscription.yaml
  telco-core/configuration/reference-crs/custom-manifests/subscription-validator.yaml
  telco-core/configuration/reference-crs/optional/logging/ClusterLogSubscription.yaml
  telco-core/configuration/reference-crs/optional/other/ClusterVersion.yaml
  telco-core/configuration/reference-crs/required/scheduling/NROPSubscription.yaml
  telco-core/configuration/reference-crs/required/scheduling/sched.yaml
  telco-core/configuration/reference-crs/required/storage/odf-external/odfSubscription.yaml
  telco-core/install/example-standard-clusterinstance.yaml
  telco-hub/configuration/example-overlays-config/acm/options-agentserviceconfig-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/catalog-source-image-patch.yaml
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs/required/acm/acmAgentServiceConfig.yaml
  telco-hub/configuration/reference-crs/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/configuration/reference-crs/required/gitops/gitopsSubscription.yaml
  telco-hub/configuration/reference-crs/required/registry/catalog-source.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
  telco-ran/configuration/argocd/deployment/openshift-gitops-operator.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-3node.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-sno.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-standard.yaml
  telco-ran/configuration/argocd/example/policygentemplates/common-ranGen.yaml
  telco-ran/configuration/kube-compare-reference/cluster-logging/ClusterLogSubscription.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cluster-logging/ClusterLogSubscription.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-17181: Extend Core reference configuration with NHC/SNR operators
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NHCSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NHCSubscriptionNS.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NHCSubscriptionOperGroup.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NodeHealthCheck.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/SNRSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/SelfNodeRemediationConfig.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/SelfNodeRemediationTemplate.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NHCSubscription.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NHCSubscriptionNS.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NHCSubscriptionOperGroup.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NodeHealthCheck.yaml
  telco-core/configuration/reference-crs/required/node-health-check/SNRSubscription.yaml
  telco-core/configuration/reference-crs/required/node-health-check/SelfNodeRemediationConfig.yaml
  telco-core/configuration/reference-crs/required/node-health-check/SelfNodeRemediationTemplate.yaml
Due: telco-core-rds-4-21-on-pull-request

Adds optional pre-caching policies for PinnedImageSet Adds idemportent cleanup of pre-caching policies when the upgrade is finished.
  telco-core/configuration/README.md
  telco-core/configuration/core-upgrade-finish.yaml
  telco-core/configuration/core-upgrade-precache.yaml
  telco-core/configuration/kustomization.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/precache/controlplane-olm-pinned-images.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/precache/controlplane-releases-pinned-images.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/precache/worker-olm-pinned-images.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/precache/worker-releases-pinned-images.yaml
  telco-core/configuration/reference-crs/custom-manifests/precache-validator.yaml
  telco-core/configuration/reference-crs/optional/other/precache/controlplane-olm-pinned-images.yaml
  telco-core/configuration/reference-crs/optional/other/precache/controlplane-releases-pinned-images.yaml
  telco-core/configuration/reference-crs/optional/other/precache/worker-olm-pinned-images.yaml
  telco-core/configuration/reference-crs/optional/other/precache/worker-releases-pinned-images.yaml
Due: telco-core-rds-4-21-on-pull-request

Add comprehensive version update documentation
  CLAUDE.md
  VERSION_UPDATE_GUIDE.md
Due: none

Update documentation URLs from docs.openshift.com to docs.redhat.com
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Allow mpls and vrf kernel modules
  telco-core/configuration/reference-crs-kube-compare/optional/other/worker-load-kernel-modules.yaml
Due: telco-core-rds-4-21-on-pull-request

Allow mpls and vrf kernel modules
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
Due: telco-core-rds-4-21-on-pull-request

Update all version references for OpenShift 4.21
  CLAUDE.md
  VERSION_UPDATE_GUIDE.md
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/core-finish.yaml
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/core-upgrade.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/required/storage/odf-external/odfSubscription.yaml
  telco-core/configuration/reference-crs/custom-manifests/subscription-validator.yaml
  telco-core/configuration/reference-crs/optional/other/ClusterVersion.yaml
  telco-core/configuration/reference-crs/required/storage/odf-external/odfSubscription.yaml
  telco-core/install/example-standard-clusterinstance.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
  telco-ran/configuration/argocd/deployment/openshift-gitops-operator.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-3node.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-sno.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-standard.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Update documentation URLs from docs.openshift.com to docs.redhat.com
  telco-core/configuration/core-finish.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: update clo version to 6.3 in 4.20 hub ref
  telco-hub/configuration/reference-crs-kube-compare/optional/logging/clusterLogSubscription.yaml
  telco-hub/configuration/reference-crs/optional/logging/clusterLogSubscription.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: Add ClusterImagePolicy to install/extra-manifests
  telco-core/install/extra-manifests/clusterimagepolicy-telco-core-operators.yaml
Due: telco-core-rds-4-21-on-pull-request

Allow mpls and vrf kernel modules in RAN
  telco-ran/configuration/source-crs/extra-manifest/03-sctp-machine-config-master.yaml
Due: none

Allow mpls and vrf kernel modules in RAN SCTP MachineConfig
  telco-ran/configuration/source-crs/extra-manifest/03-sctp-machine-config-worker.yaml
Due: none

RAN Hardening (m10-api-encryption): compliance remediation for OCP 4.22
  telco-ran/configuration/crds/75-api-server-encryption.yaml
Due: none

CNF-21212: RAN Hardening (4.22) - HIGH Severity Compliance Remediations
  telco-ran/configuration/machineconfigs/crypto-policy/75-crypto-policy-high-master.yaml
  telco-ran/configuration/machineconfigs/crypto-policy/75-crypto-policy-high-worker.yaml
  telco-ran/configuration/machineconfigs/crypto-policy/75-crypto-policy-high.yaml
  telco-ran/configuration/machineconfigs/pam/75-pam-auth-high-master.yaml
  telco-ran/configuration/machineconfigs/pam/75-pam-auth-high-worker.yaml
  telco-ran/configuration/machineconfigs/pam/75-pam-auth-high.yaml
  telco-ran/configuration/machineconfigs/sshd/75-sshd-high.yaml
Due: none

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)
