Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push

telco-core-rds-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

telco-core-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub: update readme
  telco-hub/configuration/reference-crs/required/acm/readme.md
Due: telco-hub-rds-4-20-on-push

telco-hub: policy name update
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePolicy.yaml
  telco-hub/configuration/reference-crs/required/acm/readme.md
Due: telco-hub-rds-4-20-on-push

telco-hub: include managedclustersetbinding for acm obs
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePolicy.yaml
Due: telco-hub-rds-4-20-on-push

Simpler MCO retention config
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityMCO.yaml
Due: telco-hub-rds-4-20-on-push

retention config has to be configured
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityMCO.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityMCO.yaml
Due: telco-hub-rds-4-20-on-push

telco-hub: Add ArgoCD labels to fieldsToOmit in metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-hub-rds-4-20-on-push

telco-hub: Add default value for rootFSUrl in ACM AgentServiceConfig
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmAgentServiceConfig.yaml
Due: telco-hub-rds-4-20-on-push

telco-hub: kube-compare MCO: add default for instanceSize
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityMCO.yaml
Due: telco-hub-rds-4-20-on-push

CNF-19327: Remove the 99-crio-disable-wipe-* manifests
  telco-ran/configuration/extra-manifests-builder/99-crio-disable-wipe/build.sh
  telco-ran/configuration/extra-manifests-builder/99-crio-disable-wipe/crio-disable-wipe.toml
  telco-ran/configuration/kube-compare-reference/machine-config/disable-crio-wipe/99-crio-disable-wipe-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/disable-crio-wipe/99-crio-disable-wipe-worker.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/extra-manifest/99-crio-disable-wipe-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/99-crio-disable-wipe-worker.yaml
Due: none

telco-hub: Reduce ArgoCD ClusterRole with minimal privilege
  telco-hub/configuration/reference-crs/required/gitops/ztp-installation/gitops-cluster-clusterrole.yaml
  telco-hub/configuration/reference-crs/required/gitops/ztp-installation/gitops-cluster-rolebinding.yaml
  telco-hub/configuration/reference-crs/required/gitops/ztp-installation/gitops-policy-rolebinding.yaml
  telco-hub/configuration/reference-crs/required/gitops/ztp-installation/kustomization.yaml
Due: telco-hub-rds-4-20-on-push

telco-ran: Reduce ArgoCD ClusterRole with minimal privilege
  telco-ran/configuration/argocd/deployment/gitops-cluster-clusterrole.yaml
  telco-ran/configuration/argocd/deployment/gitops-cluster-rolebinding.yaml
  telco-ran/configuration/argocd/deployment/gitops-policy-rolebinding.yaml
  telco-ran/configuration/argocd/deployment/kustomization.yaml
Due: none

telco-hub: Update documentation and ignore files to reflect the correct filename
  telco-hub/configuration/SYNC-WAVES.md
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
Due: telco-hub-rds-4-20-on-push

OCPBUGS-48492: core RDS: Ignore k8s.v1.cni.cncf.io/resourceName annotation
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

Update telco-core/configuration/core-upgrade-finish.yaml
  telco-core/configuration/core-upgrade-finish.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-core: nrop-subscription in kube-compare
  telco-core/configuration/reference-crs-kube-compare/required/scheduling/NROPSubscription.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-core: installPlanApproval in NROPSubscription
  telco-core/configuration/reference-crs/required/scheduling/NROPSubscription.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-ran: move SriovVrbClusterConfig to fec operator"
  telco-ran/configuration/source-crs/sriov-fec-operator/SriovVrbClusterConfig.yaml
Due: none

telco-hub: extra-manifests policy
  telco-hub/configuration/reference-crs/required/gitops/extra-manifests-policy.yaml
Due: telco-hub-rds-4-20-on-push

telco-hub: add cluster-logging operator to imageset configuration
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push

telco-ran: obs-route-policy for annotating mcl with alertmanager url
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePolicy.yaml
  telco-hub/configuration/reference-crs/required/acm/readme.md
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push

make storage and capacity configurable
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityMCO.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityMCO.yaml
Due: telco-hub-rds-4-20-on-push

retention values all equal
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityMCO.yaml
Due: telco-hub-rds-4-20-on-push

homogeneous retention for the different resolutions
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityMCO.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityMCO.yaml
Due: telco-hub-rds-4-20-on-push

enable downsampling
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityMCO.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityMCO.yaml
Due: telco-hub-rds-4-20-on-push

MCO splict "default" t-shirt size
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityMCO.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityMCO.yaml
Due: telco-hub-rds-4-20-on-push

telco-core: Allow apci_idle performance tuning
  telco-core/configuration/reference-crs-kube-compare/required/performance/PerformanceProfile.yaml
  telco-core/configuration/reference-crs/required/performance/PerformanceProfile.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-ran: Allow apci_idle performance tuning
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/PerformanceProfile.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile.yaml
Due: none

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: none

tekton: update tekton files for 4.21
  .tekton/telco-core-rds-4-21-pull-request.yaml
  .tekton/telco-core-rds-4-21-push.yaml
  .tekton/telco-hub-rds-4-21-pull-request.yaml
  .tekton/telco-hub-rds-4-21-push.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

OCPBUGS-60799: telco-core: Tolerate vrf field in BGPPeer CR
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/bgp-peer.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

OCPBUGS-60798: telco-core: Tolerate disableMP field in BGPPeer CR
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/bgp-peer.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

RAN Hardening (High): Top 5 SSHD
  telco-ran/configuration/machineconfigs/sshd/75-sshd_config-base.yaml
  telco-ran/configuration/machineconfigs/sshd/76-sshd-disable-root-login.yaml
  telco-ran/configuration/machineconfigs/sshd/77-sshd-disable-password-auth.yaml
  telco-ran/configuration/machineconfigs/sshd/78-sshd-session-timeout.yaml
  telco-ran/configuration/machineconfigs/sshd/79-sshd-enable-pubkey-auth.yaml
Due: none

telco-hub: compare ignore
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
  telco-hub/configuration/reference-crs/required/gitops/extra-manifests-policy.yaml
Due: telco-hub-rds-4-20-on-push

skip sast coverity for core
  .tekton/telco-core-rds-4-21-pull-request.yaml
  .tekton/telco-core-rds-4-21-push.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-core-rds-4-21-on-push: ((any of: .tekton/telco-core-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
