Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core-rds-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

telco-hub-rds-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

CNF-23574: Add RHEL9/UBI9 mirror registry entries alongside RHEL8/UBI8
  telco-hub/configuration/example-overlays-config/registry/itms-generic-mirrors-patch.yaml
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMirrorRegistryCM.yaml
  telco-hub/configuration/reference-crs/required/gitops/get_ztp_installation.sh
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Remove minOffsetThreshold from PTP config source-crs and reference
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigBoundaryForEvent.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualCardGmWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualFollower.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigForHAForEvent.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGmWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigMasterForEvent.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigSlaveForEvent.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigThreeCardGmWpc.yaml
Due: none

telco-ran,telco-core: conditional alertmanager fanout for ACM 5.0/4.x compatibility
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-24269 Add Core control-plane PerformanceProfile
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/required/performance/PerformanceProfile.yaml
  telco-core/configuration/reference-crs/required/performance/PerformanceProfile-control-plane.yaml
  telco-core/configuration/reference-crs/required/performance/TunedPerformancePatch.yaml
  telco-core/configuration/template-values/hw-types.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-23574: Remove rhel8/ubi8 mirror registry entries
  telco-hub/configuration/example-overlays-config/acm/acmMirrorRegistryCM-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/idms-operator-mirrors-patch.yaml
  telco-hub/configuration/example-overlays-config/registry/itms-generic-mirrors-patch.yaml
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMirrorRegistryCM.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-operator.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Configure NROP to trust mirrored image
  telco-core/configuration/core-baseline.yaml
Due: telco-core-rds-4-21-on-pull-request

Enable i2c-dev kernel module for GNRD timing module
  telco-ran/configuration/argocd/AdditionalManifests.md
  telco-ran/configuration/compare.sh
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/machine-config/enable-i2c-dev/99-enable-i2c-dev-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/enable-i2c-dev/99-enable-i2c-dev-worker.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/install/clusterinstance/extra-manifests/99-enable-i2c-dev-master.yaml
  telco-ran/install/clusterinstance/extra-manifests/99-enable-i2c-dev-worker.yaml
  telco-ran/install/clusterinstance/kustomization.yaml
  telco-ran/install/extra-manifests-builder/99-enable-i2c-dev/build.sh
Due: none

Change uploaderType from restic to kopia
  telco-ran/configuration/source-crs/data-protection/OadpDataProtectionApplication.yaml
Due: none

CNF-25757: Disable iptables-alerter in RDS configurations
  telco-core/configuration/reference-crs-kube-compare/required/networking/IptablesAlerterConfig.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/networking/IptablesAlerterConfig.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/iptables-alerter/IptablesAlerterConfig.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-25757: Wire iptables-alerter ConfigMap into automated deployment
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs/required/networking/IptablesAlerterConfig.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/networking/IptablesAlerterConfig.yaml
  telco-hub/configuration/reference-crs/required/networking/IptablesAlerterConfig.yaml
  telco-ran/configuration/acmpolicygenerator/ran-common-mno.yaml
  telco-ran/configuration/acmpolicygenerator/ran-common.yaml
  telco-ran/configuration/acmpolicygenerator/ran-group-du-sno-templated.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/iptables-alerter/IptablesAlerterConfig.yaml
  telco-ran/configuration/source-crs/cluster-tuning/iptables-alerter/IptablesAlerterConfig.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-25757: Address PR review comments
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs/required/networking/RestartNetworkOperator.yaml
  telco-hub/configuration/kustomization.yaml
  telco-hub/configuration/reference-crs/required/networking/RestartNetworkOperator.yaml
  telco-hub/configuration/reference-crs/required/networking/kustomization.yaml
  telco-ran/configuration/acmpolicygenerator/ran-common-mno.yaml
  telco-ran/configuration/acmpolicygenerator/ran-common.yaml
  telco-ran/configuration/acmpolicygenerator/ran-group-du-sno-templated.yaml
  telco-ran/configuration/source-crs/cluster-tuning/iptables-alerter/RestartNetworkOperator.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

[BRANCH-CUT] Prepare release-5.0 branch
  .tekton/telco-core-rds-5-0-pull-request.yaml
  .tekton/telco-core-rds-5-0-push.yaml
  .tekton/telco-hub-rds-5-0-pull-request.yaml
  .tekton/telco-hub-rds-5-0-push.yaml
Due: none

Fix wrong compare logic for different configuration files
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/addr-pool.yaml
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/bfd-profile.yaml
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/bgp-peer.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmProvisioning.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Fix wrong compare logic for different configuration files
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/addr-pool.yaml
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/bfd-profile.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-25757: Split RestartNetworkOperator into separate files
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs/required/networking/NetworkOperatorRestarterRole.yaml
  telco-core/configuration/reference-crs/required/networking/NetworkOperatorRestarterRoleBinding.yaml
  telco-core/configuration/reference-crs/required/networking/NetworkOperatorRestarterSA.yaml
  telco-core/configuration/reference-crs/required/networking/RestartNetworkOperatorJob.yaml
  telco-hub/configuration/reference-crs/required/networking/NetworkOperatorRestarterRole.yaml
  telco-hub/configuration/reference-crs/required/networking/NetworkOperatorRestarterRoleBinding.yaml
  telco-hub/configuration/reference-crs/required/networking/NetworkOperatorRestarterSA.yaml
  telco-hub/configuration/reference-crs/required/networking/RestartNetworkOperatorJob.yaml
  telco-hub/configuration/reference-crs/required/networking/kustomization.yaml
  telco-ran/configuration/acmpolicygenerator/ran-common.yaml
  telco-ran/configuration/source-crs/cluster-tuning/iptables-alerter/NetworkOperatorRestarterRole.yaml
  telco-ran/configuration/source-crs/cluster-tuning/iptables-alerter/NetworkOperatorRestarterRoleBinding.yaml
  telco-ran/configuration/source-crs/cluster-tuning/iptables-alerter/NetworkOperatorRestarterSA.yaml
  telco-ran/configuration/source-crs/cluster-tuning/iptables-alerter/RestartNetworkOperator.yaml
  telco-ran/configuration/source-crs/cluster-tuning/iptables-alerter/RestartNetworkOperatorJob.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-25757: Use registry.redhat.io image for disconnected support
  telco-core/configuration/reference-crs/required/networking/RestartNetworkOperatorJob.yaml
  telco-hub/configuration/reference-crs/required/networking/RestartNetworkOperatorJob.yaml
  telco-ran/configuration/source-crs/cluster-tuning/iptables-alerter/RestartNetworkOperatorJob.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Set slaveOnly=1 on TR-only ptp4l profiles
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigTTSCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigTTSCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
Due: none

Grant get access to configmaps in all three restarter Roles.
  telco-core/configuration/reference-crs/required/networking/NetworkOperatorRestarterRole.yaml
  telco-hub/configuration/reference-crs/required/networking/NetworkOperatorRestarterRole.yaml
  telco-ran/configuration/source-crs/cluster-tuning/iptables-alerter/NetworkOperatorRestarterRole.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

fix phc2sys -w flag for T-GM and T-BC profiles
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
Due: none

replace EOL giotops operator version
  tnc-reference/tnc-aiwl/configuration/README.md
  tnc-reference/tnc-aiwl/configuration/aiwl-auth-idm.yaml
  tnc-reference/tnc-aiwl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncJob.yaml
  tnc-reference/tnc-aiwl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncNetPolicy.yaml
  tnc-reference/tnc-aiwl/configuration/template-values/cwl-site4.yaml
  tnc-reference/tnc-cwl/configuration/README.md
  tnc-reference/tnc-cwl/configuration/cwl-auth-idm.yaml
  tnc-reference/tnc-cwl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncJob.yaml
  tnc-reference/tnc-cwl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncNetPolicy.yaml
  tnc-reference/tnc-cwl/configuration/template-values/cwl-site1.yaml
  tnc-reference/tnc-ghub/configuration/overlays/gitops/gitopsSubscription-patch.yaml
  tnc-reference/tnc-ghub/configuration/overlays/gitops/kustomization.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/README.md
  tnc-reference/tnc-mgmt-ztp/configuration/mgmt-auth-idm.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/mgmt-ztp.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncJob.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncNetPolicy.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/other-crs/optional/LSO/LocalVolumeSet.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/other-crs/optional/ODF/OdfStorageCluster.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/template-values/mgmt1.yaml
  tnc-reference/tnc-mgmt/configuration/overlays/gitops/gitopsSubscription-patch.yaml
  tnc-reference/tnc-mgmt/configuration/overlays/gitops/kustomization.yaml
  tnc-reference/tnc-rhoso/configuration/README.md
  tnc-reference/tnc-rhoso/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncJob.yaml
  tnc-reference/tnc-rhoso/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncNetPolicy.yaml
  tnc-reference/tnc-rhoso/configuration/rhoso-auth-idm.yaml
  tnc-reference/tnc-rhoso/configuration/template-values/cwl-site2.yaml
  tnc-reference/tnc-vewl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncJob.yaml
  tnc-reference/tnc-vewl/configuration/other-crs/optional/AUTH/IDM/AuthCronGroupSyncNetPolicy.yaml
  tnc-reference/tnc-vewl/configuration/template-values/cwl-site3.yaml
Due: none

CNF-22194 Core: ensure one copy of MachineConfigs in Core RDS
  telco-core/configuration/Makefile
  telco-core/configuration/compare.sh
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/networking/multus/tap_cni/mc_rootless_pods_selinux.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/worker-load-kernel-modules.yaml
  telco-core/configuration/reference-crs/custom-manifests/README.md
  telco-core/configuration/reference-crs/optional/networking/multus/tap_cni/mc_rootless_pods_selinux.yaml
  telco-core/configuration/reference-crs/optional/other/control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs/optional/other/kdump-master.yaml
  telco-core/configuration/reference-crs/optional/other/kdump-worker.yaml
  telco-core/configuration/reference-crs/optional/other/mount_namespace_config_master.yaml
  telco-core/configuration/reference-crs/optional/other/mount_namespace_config_worker.yaml
  telco-core/configuration/reference-crs/optional/other/sctp_module_mc.yaml
  telco-core/configuration/reference-crs/optional/other/worker-load-kernel-modules.yaml
  telco-core/install/README.md
  telco-core/install/custom-manifests/README.md
  telco-core/install/example-standard-clusterinstance.yaml
  telco-core/install/extra-manifests/mcp-worker-1.yaml
  telco-core/install/extra-manifests/mcp-worker-2.yaml
  telco-core/install/extra-manifests/mcp-worker-3.yaml
  telco-core/install/extra-manifests/sctp_module_mc.yaml
  telco-core/install/kustomization.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-22194 Core: sync mcp-worker-1 install manifest with reference-crs
  telco-core/install/extra-manifests/mcp-worker-1.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-22194 Core: fix grep regex and revert accidental MCP changes
  telco-core/configuration/compare.sh
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-1.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-22194 Core: fix compare.sh for templated kube-compare MCs
  telco-core/configuration/compare.sh
Due: telco-core-rds-4-21-on-pull-request

CNF-22194 Core: restore original README description per review feedback
  telco-core/configuration/reference-crs/custom-manifests/README.md
Due: telco-core-rds-4-21-on-pull-request

CNF-22163: Enable kubelet GracefulNodeShutdown in RAN DU PerformanceProfile
  telco-ran/configuration/kube-compare-reference/functions/unordered_list.tmpl
  telco-ran/configuration/kube-compare-reference/hack/arch/aarch64.yaml
  telco-ran/configuration/kube-compare-reference/hack/arch/x86_64.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile.yaml
Due: none

CNF-22163: Fix invalid JSON and make shutdown grace periods mandatory
  telco-ran/configuration/kube-compare-reference/functions/unordered_list.tmpl
Due: none

Update PerformanceProfile.yaml in kube compare template
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/PerformanceProfile.yaml
Due: none

CNF-18328 Validation of Disaster Recovery at scale
  .DS_Store
  telco-hub/.DS_Store
  telco-hub/configuration/.DS_Store
  telco-hub/configuration/reference-crs/.DS_Store
  telco-hub/configuration/reference-crs/optional/.DS_Store
  telco-hub/configuration/reference-crs/optional/backup-recovery/.DS_Store
  telco-hub/configuration/reference-crs/optional/backup-recovery/README.md
  telco-hub/configuration/reference-crs/optional/backup-recovery/credentials-velero
  telco-hub/configuration/reference-crs/optional/backup-recovery/kustomization.yaml
  telco-hub/configuration/reference-crs/optional/backup-recovery/objectBucketClaim.yaml
  telco-hub/configuration/reference-crs/optional/backup-recovery/restore.yaml
  telco-hub/configuration/reference-crs/optional/backup-recovery/s3storageSecret.yaml
  telco-hub/configuration/reference-crs/required/.DS_Store
  telco-hub/configuration/reference-crs/required/gitops/.DS_Store
  telco-hub/configuration/reference-crs/required/gitops/argocd-ssh-known-hosts-cm.yaml
  telco-hub/configuration/reference-crs/required/gitops/argocd-tls-certs-cm.yaml
  telco-hub/configuration/reference-crs/required/gitops/ztp-repo.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: Update ClusterImagePolicy with openshift5 namespace.
  telco-core/install/extra-manifests/clusterimagepolicy-telco-core-operators.yaml
Due: telco-core-rds-4-21-on-pull-request

OCPBUGS-105788: update telco-ran alert forwarding
  telco-ran/configuration/acmpolicygenerator/ran-common.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/HubInfoSecretReaderRole.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/HubInfoSecretReaderRoleBinding.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/policygentemplates/common-ranGen.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/HubInfoSecretReaderRole.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/HubInfoSecretReaderRoleBinding.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: none

OCPBUGS-105788: align telco-ran and telco-core alert forwarding
  telco-core/configuration/reference-crs-kube-compare/optional/other/monitoring-config-cm.yaml
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-hub: reference for MCE/MCH in ACM 2.17
  telco-hub/configuration/reference-crs/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCH.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)
