Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)

RAN Hardening - PAM Empty Passwords (H2)
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-worker.yaml
Due: none

RAN Hardening (m5-audit-modules): compliance remediation for OCP 4.22
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-kernel-modules-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-kernel-modules-worker.yaml
Due: none

RAN Hardening - Auditd Configuration (M9)
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-auditd-configuration-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-auditd-configuration-worker.yaml
Due: none

Add hub-spoke trust config, root CA monitoring, and kubeconfig guidance
  telco-core/configuration/reference-crs/optional/cert-manager/README.md
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerCertificatePolicy.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerHubCAConfigMap.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerKlusterletConfig.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerRootCAExpirationPolicyPlacement.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerRootCAExpirationPolicyPlacementBinding.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/README.md
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerCertificatePolicy.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerHubCAConfigMap.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerKlusterletConfig.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerRootCAExpirationPolicy.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerRootCAExpirationPolicyPlacement.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerRootCAExpirationPolicyPlacementBinding.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/kustomization.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-22194 RAN: fix lintcheck failures
  .yamllint.yaml
Due: none

CNF-22194 RAN: fix source-crs symlink targets
  telco-ran/configuration/source-crs/deprecated/MachineConfigContainerMountNS.yaml
  telco-ran/configuration/source-crs/machine-config/MachineConfigSctp.yaml
Due: none

Restore cert-manager to RAN profile
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerNS.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/README.md
  telco-ran/configuration/source-crs/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerNS.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorStatus.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressControllerConfig.yaml
Due: none

RAN Hardening (m10-api-encryption): compliance remediation for OCP 4.22
  telco-ran/configuration/hardening/api-server/75-api-server-encryption.yaml
Due: none

CNF-23812: Add OLM annotation lint workflow
  .github/workflows/olm-annotation-lint.yml
  Makefile
Due: none

CNF-22194 RAN: address PR review feedback
  VERSION_UPDATE_GUIDE.md
  hack/test-kustomize.sh
  telco-ran/configuration/argocd/SNOExpansion.md
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/clusterinstance/kustomization.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-worker.yaml
  telco-ran/configuration/source-crs/README.md
  telco-ran/install/README.md
  telco-ran/install/clusterinstance
  telco-ran/install/clusterinstance/README.md
  telco-ran/install/clusterinstance/example-3node.yaml
  telco-ran/install/clusterinstance/example-sno.yaml
  telco-ran/install/clusterinstance/example-standard.yaml
  telco-ran/install/clusterinstance/kustomization.yaml
  telco-ran/install/custom-manifests/enable-crun-master.yaml
  telco-ran/install/custom-manifests/enable-crun-worker.yaml
  telco-ran/install/kustomization.yaml
Due: none

CNF-22194 RAN: fix doc paths for clusterinstance and custom-manifests
  telco-ran/configuration/argocd/AdditionalManifests.md
  telco-ran/configuration/source-crs/optional-extra-manifest/README.md
Due: none

CNF-22194 RAN: remove trailing newline from gnrd-interfaces manifests
  telco-ran/configuration/kube-compare-reference/machine-config/rename-gnrd-interfaces/10-rename-gnrd-interfaces-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/rename-gnrd-interfaces/10-rename-gnrd-interfaces-worker.yaml
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-master.yaml
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-worker.yaml
Due: none

CNF-22194 RAN: fix trailing newline in gnrd-interfaces manifests
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-master.yaml
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-worker.yaml
Due: none

CNF-22194 RAN: restore deleted extra-manifests files
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-master.yaml
  telco-ran/install/extra-manifests/10-rename-gnrd-interfaces-worker.yaml
Due: none

CNF-22194 RAN: exclude install manifests from kube-compare sync
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
Due: none

CNF-23793 RAN: accept net.userLevelNetworking as optional variation in PerformanceProfile
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/PerformanceProfile.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/aarch64/PerformanceProfile.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile-SetSelector.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/x86_64/PerformanceProfile.yaml
Due: none

CNF-24269 Add Core control-plane PerformanceProfile
  telco-core/configuration/core-overlay.yaml
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/required/performance/PerformanceProfile.yaml
  telco-core/configuration/reference-crs/required/performance/PerformanceProfile-control-plane.yaml
  telco-core/configuration/reference-crs/required/performance/TunedPerformancePatch.yaml
  telco-core/configuration/template-values/hw-types.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-23534: Add an openapi schema for all the lists in the reference configuration
  .github/workflows/openapi-schema-check.yml
  Makefile
  VERSION_UPDATE_GUIDE.md
  hack/crd-schema-config.json
  hack/extract-schema.py
  hack/generate-schema-config.py
  telco-core/configuration/schema.openapi
  telco-ran/configuration/argocd/example/acmpolicygenerator/README.md
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/schema.openapi
Due: telco-core-rds-4-21-on-pull-request

Keep telco-ran hub-side-templating openapi.schema until the directory restructure is complete
  Makefile
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/schema.openapi
Due: none

CNF-23534: Address review comments
  .github/workflows/openapi-schema-check.yml
  hack/extract-schema.py
  hack/generate-schema-config.py
  telco-core/configuration/schema.openapi
  telco-ran/configuration/argocd/example/acmpolicygenerator/README.md
  telco-ran/configuration/argocd/example/acmpolicygenerator/schema.openapi
Due: telco-core-rds-4-21-on-pull-request

CNF-24266 Enforce workload partitioning
  telco-core/configuration/hack/cluster-default-crs/infrastructure-config.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/platform/infrastructure.yaml
Due: telco-core-rds-4-21-on-pull-request

Revert "CNF-21196: RAN Hardening (5.0) - Kernel Sysctl Hardening (M2)"
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sysctl-kernel-hardening-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sysctl-kernel-hardening-worker.yaml
Due: none

CNF-23534: Fix edge cases in schema generation
  hack/extract-schema.py
  hack/generate-schema-config.py
Due: none

CNF-23534: Remove hugepages merge key from PerformanceProfile schema
  hack/crd-schema-config.json
  telco-core/configuration/schema.openapi
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/schema.openapi
  telco-ran/configuration/argocd/example/acmpolicygenerator/schema.openapi
Due: telco-core-rds-4-21-on-pull-request

Document ZTP-native ClusterInstance extraAnnotations for cert-manager trust
  telco-core/install/example-standard-clusterinstance.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/README.md
  telco-ran/configuration/argocd/example/clusterinstance/example-3node.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-sno.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-standard.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

change bash keyword
  README.adoc
Due: none

change md to adoc
  README.adoc
Due: none

Adding CODEOWNERS
  .github/CODEOWNERS
  OWNERS
  OWNERS_ALIASES
Due: none
