Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core-rds-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

telco-core-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-core-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub-rds-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/telco-hub-rds-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

telco-hub: note about cgu
  telco-hub/configuration/reference-crs/required/gitops/ztp-policies/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: update var name in policy
  telco-hub/configuration/reference-crs/required/gitops/ztp-policies/extra-manifests-policy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-19662: Override method for argo-cd health-check
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/configuration/reference-crs/required/gitops/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: remove deprecated workload partitioning manifest
  telco-ran/configuration/source-crs/deprecated/workload/03-workload-partitioning.yaml
Due: none

Align sctp_module_mc.yaml within extra-manigests folder
  telco-core/install/extra-manifests/sctp_module_mc.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

Add example configmap generator for clusterInstance
  telco-ran/configuration/argocd/example/clusterinstance/extra-manifests/PLACE_HOLDER
  telco-ran/configuration/argocd/example/clusterinstance/kustomization.yaml
Due: none

[telco-hub] Updating image-set
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

[telco-hub] odf to 4.20
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/odfSubscription.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

clean-up odf disk
  telco-hub/configuration/reference-crs/optional/odf-internal/storageCluster.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

corrected manifest for odf clean-up
  telco-hub/configuration/reference-crs/optional/odf-internal/storageCluster.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

cleaning some manifest params not needed
  telco-hub/configuration/reference-crs/optional/odf-internal/storageCluster.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

odf-ready needs different implementation
  telco-hub/configuration/reference-crs/optional/odf-internal/odfReady.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

[telco-hub] storagecluster updated compare
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/storageCluster.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

update MCH/MCE with params for ACM 2.14 and update ODF version /ACM version
  telco-hub/configuration/reference-crs/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCH.yaml
  telco-hub/configuration/reference-crs/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: remove workload folder
  telco-ran/configuration/source-crs/deprecated/workload/crio.conf
  telco-ran/configuration/source-crs/deprecated/workload/kubelet.conf
Due: none

Apply suggestion from @irinamihai
  telco-hub/configuration/reference-crs/required/acm/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Move comments to top
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

storagecluster updated compare
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/storageCluster.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Updating image-set
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

odf to 4.20
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/odfSubscription.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/odfSubscription.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: none

Add cert-manager to RAN and Core
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerNS.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerSubscription.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/consoleCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/downloadsCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/oauthServiceCertificate.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

Address comments 1
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerNS.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/ingressCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/consoleCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/downloadsCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/ingressCertificate.yaml
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerNS.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/ingressCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/consoleCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/downloadsCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerNS.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerNS.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressCertificate.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

RAN Hardening (SSHD) - High Severity
  telco-ran/configuration/machineconfigs/sshd/75-sshd-config-high.yaml
Due: none

Add sh linter; improve Makefile(s)
  .github/workflows/pre-main.yml
  hack/install-markdownlint.sh
  hack/markdownlint.sh
  telco-core/configuration/compare.sh
  telco-hub/configuration/reference-crs-kube-compare/compare.sh
  telco-hub/configuration/reference-crs/required/gitops/get_ztp_installation.sh
  telco-hub/scripts/check_current_versions.sh
  telco-ran/configuration/argocd/example/optional-extra-manifest/ipsec/configure-ipsec.sh
  telco-ran/configuration/argocd/example/optional-extra-manifest/ipsec/import-certs.sh
  telco-ran/configuration/extra-manifests-builder/01-container-mount-ns-and-kubelet-conf/build.sh
  telco-ran/configuration/extra-manifests-builder/01-container-mount-ns-and-kubelet-conf/test.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/build.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/disablePcrOnRebootOrShutdown.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/hwupgrade-detection-methods/file.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/hwupgrade-detection-methods/fwup.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/hwupgrade-detection-methods/ostree.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/hwupgrade-detection-methods/talm.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/luks-helpers.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/test.sh
  telco-ran/configuration/extra-manifests-builder/08-set-rcu-normal/build.sh
  telco-ran/configuration/extra-manifests-builder/08-set-rcu-normal/set-rcu-normal.sh
  telco-ran/configuration/extra-manifests-builder/08-set-rcu-normal/test.sh
  telco-ran/configuration/extra-manifests-builder/Makefile
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Add machineconfig to rename GNRD interfaces to follow the udev path naming convention
  telco-ran/configuration/extra-manifests-builder/10-rename-gnrd-interfaces/build.sh
  telco-ran/configuration/kube-compare-reference/machine-config/rename-gnrd-interfaces/10-rename-gnrd-interfaces-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/rename-gnrd-interfaces/10-rename-gnrd-interfaces-worker.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/extra-manifest/10-rename-gnrd-interfaces-master.yaml
  telco-ran/configuration/source-crs/extra-manifest/10-rename-gnrd-interfaces-worker.yaml
Due: none

Fix templateRefs namespace value typo
  telco-ran/configuration/argocd/example/clusterinstance/example-3node.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-sno.yaml
  telco-ran/configuration/argocd/example/clusterinstance/example-standard.yaml
Due: none

Add optional CRs for RAN, Hub, and Core
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/apiServerCertificate.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/apiServerConfig.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/ingressControllerConfig.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/README.md
  telco-core/configuration/reference-crs/optional/cert-manager/apiServerCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/apiServerConfig.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/ingressControllerConfig.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/apiServerCertificate.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/apiServerConfig.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/ingressControllerConfig.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/README.md
  telco-hub/configuration/reference-crs/optional/cert-manager/apiServerCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/apiServerConfig.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/ingressControllerConfig.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/ingressControllerConfig.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/README.md
  telco-ran/configuration/source-crs/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressControllerConfig.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Add example configmap generator for clusterInstance
  telco-ran/configuration/argocd/example/clusterinstance/extra-manifest/PLACE_HOLDER
  telco-ran/configuration/argocd/example/clusterinstance/kustomization.yaml
Due: none

ztp:CNF-18399 ClusterInstance updates for .md files
  telco-ran/configuration/argocd/AcceleratedZtp.md
  telco-ran/configuration/argocd/AdditionalManifests.md
  telco-ran/configuration/argocd/ArmInstallation.md
  telco-ran/configuration/argocd/DiskPartitionContainers.md
  telco-ran/configuration/argocd/ExtraManifestsFilter.md
  telco-ran/configuration/argocd/ImageRegistry.md
  telco-ran/configuration/argocd/SNOExpansion.md
  telco-ran/configuration/argocd/SecureBoot.md
  telco-ran/configuration/argocd/Upgrade.md
  telco-ran/configuration/argocd/WorkerNodeDeletion.md
  telco-ran/configuration/argocd/WorkloadPartitioning.md
Due: none

telco-ran: Add T-BC and T-TSC ptp configs
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualCardGmWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigTTSCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualCardGmWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigTTSCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
Due: none

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-core-rds-4-21-on-push: ((any of: .tekton/telco-core-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)
