Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)

Update observabilityRoutePolicy.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePolicy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Create observabilityRoutePlacement.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePlacement.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Create observabilityRoutePlacementBinding.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePlacementBinding.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Update kustomization.yaml
  telco-hub/configuration/reference-crs/required/acm/kustomization.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: restore custom-manifests MCP paths for PolicyGenerator
  telco-core/configuration/compare.sh
  telco-core/configuration/core-finish.yaml
  telco-core/configuration/core-upgrade-finish.yaml
  telco-core/configuration/core-upgrade.yaml
  telco-core/configuration/reference-crs/custom-manifests/README.md
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-1.yaml
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-2.yaml
  telco-core/configuration/reference-crs/custom-manifests/mcp-worker-3.yaml
  telco-core/install/README.md
Due: telco-core-rds-4-21-on-pull-request

telco-hub: add obs-route-policy to hub rds kustomization
  telco-hub/configuration/reference-crs/required/acm/kustomization.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Move MetalLB configuraiton state to core-overlay
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/core-overlay.yaml
Due: telco-core-rds-4-21-on-pull-request

align kube-compare CR to updated reference-cr
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityMCSB.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

handle pullSecretMCSB.yaml rename to observabilityMCSB.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Handle additional observabilityRoutePlacement & Binding CRs in kube-compare for automated testing
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityRoutePlacement.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityRoutePlacementBinding.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

restore appropriate config parameter to correct CR
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Enable mellanoxFirmwareReset feature gate in SriovOperatorConfig
  telco-core/configuration/reference-crs-kube-compare/required/networking/sriov/SriovOperatorConfig.yaml
  telco-core/configuration/reference-crs/required/networking/sriov/SriovOperatorConfig.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/sriov-operator/SriovOperatorConfig.yaml
  telco-ran/configuration/kube-compare-reference/sriov-operator/SriovOperatorConfigForSNO.yaml
  telco-ran/configuration/source-crs/sriov-operator/SriovOperatorConfig-SetSelector.yaml
  telco-ran/configuration/source-crs/sriov-operator/SriovOperatorConfig.yaml
  telco-ran/configuration/source-crs/sriov-operator/SriovOperatorConfigForSNO.yaml
Due: telco-core-rds-4-21-on-pull-request

observabilityRoutePolicy bugfixes (#776)
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityMCSB.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityRoutePlacement.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/observabilityRoutePlacementBinding.yaml
  telco-hub/configuration/reference-crs/required/acm/kustomization.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityMCSB.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePlacement.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePlacementBinding.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityRoutePolicy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-23534 CNF-23534: Add an openapi schema for all the lists in the reference configuration
  .github/workflows/openapi-schema-check.yml
  Makefile
  VERSION_UPDATE_GUIDE.md
  hack/crd-schema-config.json
  hack/extract-schema.py
  hack/generate-schema-config.py
  telco-core/configuration/schema.openapi
  telco-ran/configuration/argocd/example/acmpolicygenerator/README.md
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/schema.openapi
Due: telco-core-rds-4-21-on-pull-request

CNF-23534: Address review comments
  .github/workflows/openapi-schema-check.yml
  hack/extract-schema.py
  hack/generate-schema-config.py
  telco-core/configuration/schema.openapi
  telco-ran/configuration/argocd/example/acmpolicygenerator/README.md
  telco-ran/configuration/argocd/example/acmpolicygenerator/schema.openapi
Due: telco-core-rds-4-21-on-pull-request

telco-ran: telco-core: consolidate duplicate nil check in kubeletconfigExperimentalSysctls
  telco-core/configuration/reference-crs-kube-compare/unordered_list.tmpl
  telco-ran/configuration/kube-compare-reference/functions/unordered_list.tmpl
Due: telco-core-rds-4-21-on-pull-request

Add nftables firewall reference CRs for commatrix integration
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/networking/firewall/node-disruption-policy.yaml
  telco-core/configuration/reference-crs-kube-compare/required-object-list.tmpl
  telco-core/configuration/reference-crs/optional/networking/firewall/node-disruption-policy.yaml
Due: telco-core-rds-4-21-on-pull-request

Rename pullSecretMCSB.yaml to observabilityMCSB.yaml
  telco-hub/configuration/reference-crs/required/acm/observabilityMCSB.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: add MCP custom-manifests to compare_ignore
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
Due: telco-core-rds-4-21-on-pull-request

telco-ran: allow deviceID in FEC acceleratorSelector for cluster-compare
  telco-ran/configuration/kube-compare-reference/sriov-fec-operator/SriovFecClusterConfig.yaml
  telco-ran/configuration/kube-compare-reference/sriov-fec-operator/SriovVrbClusterConfig.yaml
Due: none

telco-ran: update disableOLMprof compliancetype
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-sno-ranGen-templated.yaml
Due: none

telco-core: drop install MCs from cluster-compare metadata
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
Due: telco-core-rds-4-21-on-pull-request

Keep telco-ran hub-side-templating openapi.schema until the directory restructure is complete
  Makefile
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/schema.openapi
Due: none

telco-ran: align enable-crun kube-compare with extra-manifest comment
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/crun/enable-crun-worker.yaml
Due: none

Remove cert-manager from RAN profile
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerNS.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/README.md
  telco-ran/configuration/source-crs/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerNS.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorStatus.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressControllerConfig.yaml
Due: none

telco-hub: Fix ZTP policy URLs
  telco-hub/configuration/reference-crs/required/gitops/ztp-installation/clusters-app.yaml
  telco-hub/configuration/reference-crs/required/gitops/ztp-installation/policies-app.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-24266 Enforce workload partitioning
  telco-core/configuration/hack/cluster-default-crs/infrastructure-config.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/platform/infrastructure.yaml
Due: telco-core-rds-4-21-on-pull-request

change ztp-site-generate image to .21 until .22 available
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

moving OBC to odf-internal
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/observabilityOBC.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/kustomization.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/observabilityOBC.yaml
  telco-hub/configuration/reference-crs/required/acm/kustomization.yaml
  telco-hub/configuration/reference-crs/required/acm/thanosSecretPolicy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

documented the change
  telco-hub/configuration/reference-crs/required/acm/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push
