Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)

telco-ran,telco-core: support ACM 4.x and 5.0 alert forwarding
  telco-core/configuration/reference-crs-kube-compare/optional/other/monitoring-config-cm.yaml
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-hub: kube compare CRs for MCE/MCH in ACM 2.17
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCH.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

feat(telco-ran): tune HPE EL140 ICE port names
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/TunedPerformancePatch.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/TunedPerformancePatch.yaml
Due: none

fix(tuned): match HPE EL140 by product name only
  telco-ran/configuration/kube-compare-reference/node-tuning-operator/TunedPerformancePatch.yaml
  telco-ran/configuration/source-crs/node-tuning-operator/TunedPerformancePatch.yaml
Due: none

feat: add optional HPE ice kernel argument
  telco-ran/configuration/argocd/AdditionalManifests.md
  telco-ran/configuration/source-crs/optional-extra-manifest/README.md
  telco-ran/install/README.md
  telco-ran/install/clusterinstance/custom-manifests/README.md
  telco-ran/install/clusterinstance/extra-manifests/optional/10-hpe-ice-phys-port-name-kernel-master.yaml
  telco-ran/install/clusterinstance/extra-manifests/optional/10-hpe-ice-phys-port-name-kernel-worker.yaml
  telco-ran/install/clusterinstance/extra-manifests/optional/README.md
Due: none

docs: reference optional HPE ICE manifests
  telco-ran/install/clusterinstance/kustomization.yaml
Due: none

fix phc2sys -w flag for T-GM and T-BC profiles
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigDualCardTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigTBCWpc.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigThreeCardTBCWpc.yaml
Due: none

telco-core: Update ClusterImagePolicy with openshift5 namespace.
  telco-core/install/extra-manifests/clusterimagepolicy-telco-core-operators.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-hub: reference for MCE/MCH in ACM 2.17
  telco-hub/configuration/reference-crs/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCH.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

remove deletion and re-creation of subs during upgrade
  tnc-reference/tnc-cwl/configuration/cwl-upgrade-21.yaml
  tnc-reference/tnc-cwl/configuration/cwl-upgrade-22.yaml
  tnc-reference/tnc-cwl/configuration/other-crs/optional/ODF/OdfOperatorCSV.yaml
  tnc-reference/tnc-cwl/configuration/upgrade-cgus/cwl-day2-align-cgu.yaml
  tnc-reference/tnc-cwl/configuration/upgrade-cgus/cwl-upgrade-21-cgu.yaml
  tnc-reference/tnc-cwl/configuration/upgrade-cgus/cwl-upgrade-22-cgu.yaml
  tnc-reference/tnc-cwl/configuration/upgrade-cgus/cwl-upgrade-finish-cgu.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/mgmt-ztp-upgrade-21.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/mgmt-ztp-upgrade-22.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/upgrade-cgus/mgmt-upgrade-21-cgu.yaml
Due: none

update SHA digest for 4.22
  tnc-reference/tnc-aiwl/configuration/aiwl-rhoai.yaml
  tnc-reference/tnc-mgmt-ztp/configuration/mgmt-ztp.yaml
Due: none

fix worker mcp name to be paused
  tnc-reference/tnc-mgmt-ztp/configuration/mgmt-ztp-upgrade-22.yaml
Due: none

telco-ran,telco-core: reformat alert forwarding for readability
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-hub: add optional Cluster Observability Operator reference CRs
  telco-hub/README.md
  telco-hub/configuration/example-overlays-config/cluster-observability/kustomization.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cluster-observability/cooNS.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cluster-observability/cooOperatorGroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cluster-observability/cooSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cluster-observability/cooUIPlugin.yaml
  telco-hub/configuration/reference-crs/kustomization.yaml
  telco-hub/configuration/reference-crs/optional/cluster-observability/README.md
  telco-hub/configuration/reference-crs/optional/cluster-observability/cooNS.yaml
  telco-hub/configuration/reference-crs/optional/cluster-observability/cooOperatorGroup.yaml
  telco-hub/configuration/reference-crs/optional/cluster-observability/cooSubscription.yaml
  telco-hub/configuration/reference-crs/optional/cluster-observability/cooUIPlugin.yaml
  telco-hub/configuration/reference-crs/optional/cluster-observability/kustomization.yaml
  telco-hub/install/mirror-registry/imageset-config.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: add optional Cluster Monitoring Operator ConfigMap
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs/optional/cluster-monitoring-operator/ClusterMonitoringCM.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-ran: handle no MCO scenario for alert forwarding
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: none

reflecting the latest update. fixing a typo path
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs/optional/cluster-monitoring-operator/ClusterMonitoringCM.yaml
  telco-hub/configuration/reference-crs/optional/cluster-observability/cooUIPlugin.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Add reference for GNR-D based dual-upstream T-BC
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/HardwareConfigGnrdTBC.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdDualTrTBC.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/HardwareConfigGnrdTBC.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdDualTrTBC.yaml
Due: none

telco-ran,telco-core: support alert forwarding across ACM versions
  telco-core/configuration/reference-crs-kube-compare/optional/other/monitoring-config-cm.yaml
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-core, telco-ran: update sctp machine config to ignition version 3.2.0
  telco-core/install/extra-manifests/sctp_module_mc.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/sctp/03-sctp-machine-config-master.yaml
  telco-ran/configuration/kube-compare-reference/machine-config/sctp/03-sctp-machine-config-worker.yaml
  telco-ran/install/clusterinstance/extra-manifests/03-sctp-machine-config-master.yaml
  telco-ran/install/clusterinstance/extra-manifests/03-sctp-machine-config-worker.yaml
  telco-ran/install/extra-manifests-builder/03-sctp-machine-config/build.sh
Due: telco-core-rds-4-21-on-pull-request
