Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)

telco-core: configure kdump.service on the cluster
  telco-core/configuration/core-baseline.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-ran: update ptpConfigSlave example
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-standard-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-3node-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-standard-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-3node-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-standard-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-3node-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-standard-ranGen-templated.yaml
Due: none

Allow mpls and vrf kernel modules
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/worker-load-kernel-modules.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-ran: enable ptp operator config for event in example
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
Due: none

telco-ran: update reference template to tolerate log collector diff
  telco-core/configuration/reference-crs-kube-compare/optional/logging/ClusterLogServiceAccount.yaml
  telco-ran/configuration/kube-compare-reference/cluster-logging/ClusterLogServiceAccount.yaml
Due: telco-core-rds-4-21-on-pull-request

Update the AGENTS.md with additional knowledge on the telco-reference repository
  AGENTS.md
Due: none

OCPBUGS-81698: Exclude local-cluster from gitops
  telco-hub/configuration/reference-crs-kube-compare/required/gitops/app-project.yaml
  telco-hub/configuration/reference-crs/required/gitops/app-project.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

RAN Hardening (m10-api-encryption): compliance remediation for OCP 4.22
  telco-ran/configuration/hardening/api-server/75-api-server-encryption.yaml
Due: none

RAN Hardening (m1-sshd-medium): compliance remediation for OCP 4.22
  telco-ran/configuration/kube-compare-reference/informational/hardening/00-compliance-sshd-hardening-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/00-compliance-sshd-hardening-worker.yaml
Due: none

RAN Hardening (m4-audit-selinux): compliance remediation for OCP 4.22
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-selinux-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-selinux-worker.yaml
Due: none

RAN Hardening (m6-audit-time): compliance remediation for OCP 4.22
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-time-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-time-worker.yaml
Due: none

RAN Hardening (m7-audit-login): compliance remediation for OCP 4.22
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-login-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-audit-login-worker.yaml
Due: none

CNF-21326: RAN Hardening (4.22) - SSHD (H3: PermitEmptyPasswords)
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sshd-permit-empty-passwords-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sshd-permit-empty-passwords-worker.yaml
Due: none

CNF-21212: RAN Hardening (4.22) - HIGH Severity Compliance Remediations
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-crypto-policy-high-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-crypto-policy-high-worker.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-worker.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sshd-permit-empty-passwords-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sshd-permit-empty-passwords-worker.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/README.md
  telco-ran/configuration/kube-compare-reference/metadata.yaml
Due: none

Add evaluationInterval to core-finish MCP policies
  telco-core/configuration/core-finish.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-21719: Add optional cert-manager reference CRs for telco-ran
  telco-ran/configuration/reference-crs/optional/cert-manager/README.md
  telco-ran/configuration/reference-crs/optional/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/reference-crs/optional/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/reference-crs/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/reference-crs/optional/cert-manager/certManagerNS.yaml
  telco-ran/configuration/reference-crs/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/reference-crs/optional/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/reference-crs/optional/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/reference-crs/optional/cert-manager/ingressControllerConfig.yaml
Due: none

Update telco-hub/install/openshift/openshift/README.md
  telco-hub/install/openshift/openshift/README.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-17181: Extend Core reference configuration with NHC/SNR operators
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NHCSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NHCSubscriptionNS.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NHCSubscriptionOperGroup.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/NodeHealthCheck.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/SNRSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/SelfNodeRemediationConfig.yaml
  telco-core/configuration/reference-crs-kube-compare/required/node-health-check/SelfNodeRemediationTemplate.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NHCSubscription.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NHCSubscriptionNS.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NHCSubscriptionOperGroup.yaml
  telco-core/configuration/reference-crs/required/node-health-check/NodeHealthCheck.yaml
  telco-core/configuration/reference-crs/required/node-health-check/SNRSubscription.yaml
  telco-core/configuration/reference-crs/required/node-health-check/SelfNodeRemediationConfig.yaml
  telco-core/configuration/reference-crs/required/node-health-check/SelfNodeRemediationTemplate.yaml
Due: telco-core-rds-4-21-on-pull-request

CNFCERT-1258: Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: none

The restic configuration field has been replaced by nodeAgent in RHOADP 1.5
  telco-ran/configuration/source-crs/data-protection/OadpDataProtectionApplication.yaml
Due: none

telco-ran: update disableOLMprof compliancetype
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  telco-ran/configuration/argocd/example/policygentemplates/group-du-sno-ranGen.yaml
  telco-ran/configuration/argocd/example/policygentemplates/hub-side-templating/group-du-sno-ranGen-templated.yaml
Due: none

RAN: Add GNR-D PTP BoundaryClock-without-holdover configuration
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdBcNoHoldover.yaml
Due: none

RAN: Add GNR-D PTP T-GM configuration
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/kube-compare-reference/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
  telco-ran/configuration/source-crs/ptp-operator/configuration/PtpConfigGnrdTGM.yaml
Due: none

Adds missing maxUnavailable: 100% and topology labels for Kubernetes Failure Domains.
  telco-core/configuration/core-upgrade-finish.yaml
  telco-core/install/example-standard-clusterinstance.yaml
Due: telco-core-rds-4-21-on-pull-request

Recommend restricted IP forwarding
  telco-core/configuration/reference-crs-kube-compare/required/networking/Network.yaml
  telco-core/configuration/reference-crs/required/networking/Network.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-21719: Move cert-manager CRs to source-crs and add PolicyGenerator entries
  telco-ran/configuration/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerNS.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/README.md
  telco-ran/configuration/source-crs/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerNS.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorStatus.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressControllerConfig.yaml
Due: none

CS_CNF-21265: allow mpls and vrf kernel modules
  telco-core/configuration/reference-crs-kube-compare/optional/other/control-plane-load-kernel-modules.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/other/worker-load-kernel-modules.yaml
Due: telco-core-rds-4-21-on-pull-request

CNF-21719: Consolidate cert-manager config into core-overlay-base policy
  telco-core/configuration/core-overlay.yaml
Due: telco-core-rds-4-21-on-pull-request

Fix broken pgt2acmpg documentation URL
  telco-ran/configuration/argocd/example/acmpolicygenerator/README.md
Due: none

Add namespace field to MultiNetworkPolicy reference CRs
  telco-core/configuration/reference-crs-kube-compare/required/networking/multinetworkpolicy/multiNetworkPolicyAllowPortProtocol.yaml
  telco-core/configuration/reference-crs-kube-compare/required/networking/multinetworkpolicy/multiNetworkPolicyDenyAll.yaml
  telco-core/configuration/reference-crs/required/networking/multinetworkpolicy/multiNetworkPolicyAllowPortProtocol.yaml
  telco-core/configuration/reference-crs/required/networking/multinetworkpolicy/multiNetworkPolicyDenyAll.yaml
Due: telco-core-rds-4-21-on-pull-request

Add ConfigurationState validation for MetalLB
  telco-core/configuration/core-baseline.yaml
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/required/networking/metallb/configurationstate.yaml
  telco-core/configuration/reference-crs/required/networking/metallb/configurationstate.yaml
Due: telco-core-rds-4-21-on-pull-request

telco-hub: update extra-manifests policy namespace name
  telco-hub/configuration/reference-crs/required/gitops/ztp-policies/extra-manifests-policy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-hub: add extra-manifests-policy to hub rds kustomization
  telco-hub/configuration/reference-crs/required/gitops/kustomization.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

RAN Hardening - Crypto Policy (H1)
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-crypto-policy-high-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-crypto-policy-high-worker.yaml
Due: none

RAN Hardening - PAM Empty Passwords (H2)
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-pam-auth-high-worker.yaml
Due: none

RAN Hardening (m2-kernel-sysctl): compliance remediation for OCP 4.22
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sysctl-kernel-hardening-master.yaml
  telco-ran/configuration/kube-compare-reference/informational/hardening/75-sysctl-kernel-hardening-worker.yaml
Due: none
