Repository openshift-kni/telco-reference: changes, and which Tekton pipelines are due for each by the changed paths.
All: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Path conditions:
  telco-core-rds-4-21-on-pull-request: ((any of: .tekton/telco-core-rds-4-21-pull-request.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-core-rds-4-21-on-push: ((any of: .tekton/telco-core-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-core-rds.yaml)) or (any of: telco-core/***)
  telco-hub-rds-4-20-on-push: ((any of: .tekton/telco-hub-rds-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco-hub/***)
  telco-hub-rds-4-21-on-push: ((any of: .tekton/telco-hub-rds-4-21-push.yaml) or (any of: .tekton/build-pipeline-telco-hub-rds.yaml)) or (any of: telco-hub/***)

Add cert-manager to RAN and Core
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerNS.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerSubscription.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/consoleCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/downloadsCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/oauthServiceCertificate.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

Address comments 1
  telco-core/configuration/reference-crs-kube-compare/compare_ignore
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerNS.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/ingressCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/consoleCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/downloadsCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/ingressCertificate.yaml
  telco-hub/configuration/reference-crs-kube-compare/compare_ignore
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerNS.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/ingressCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/consoleCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/downloadsCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerNS.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/kube-compare-reference/hack/compare_ignore
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerNS.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/source-crs/cert-manager/ingressCertificate.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Address comments 2
  telco-core/configuration/reference-crs-kube-compare/metadata.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/apiServerCertificate.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/apiServerConfig.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerSubscription.yaml
  telco-core/configuration/reference-crs-kube-compare/optional/cert-manager/ingressCertificate.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-core/configuration/reference-crs/optional/cert-manager/certManagerSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/apiServerCertificate.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/apiServerConfig.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerClusterIssuer.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerSubscription.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/ingressCertificate.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerOperatorgroup.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/apiServerCertificate.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/apiServerConfig.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerClusterIssuer.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/certManagerSubscription.yaml
  telco-ran/configuration/kube-compare-reference/cert-manager/ingressCertificate.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/kube-compare-reference/metadata.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerOperatorgroup.yaml
  telco-ran/configuration/source-crs/cert-manager/certManagerSubscription.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-19662: Override method for argo-cd health-check
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
  telco-hub/configuration/reference-crs/required/gitops/readme.md
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: add cpe labels
  telco-core/Dockerfile.telco-core
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

telco-hub: add cpe labels
  telco-hub/Dockerfile.telco-hub
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-ran: add conditional for missing alerting URL telco-core: add conditional for missing alerting url
  telco-core/configuration/reference-crs-kube-compare/optional/other/monitoring-config-cm.yaml
  telco-core/configuration/reference-crs/optional/other/monitoring-config-cm.yaml
  telco-ran/configuration/kube-compare-reference/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
  telco-ran/configuration/kube-compare-reference/hack/default_value.yaml
  telco-ran/configuration/source-crs/cluster-tuning/monitoring-configuration/ReduceMonitoringFootprint.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

ztp:CNF-18399 ClusterInstance updates for all the .md files
  telco-ran/configuration/argocd/AcceleratedZtp.md
  telco-ran/configuration/argocd/AdditionalManifests.md
  telco-ran/configuration/argocd/ArmInstallation.md
  telco-ran/configuration/argocd/DiskPartitionContainers.md
  telco-ran/configuration/argocd/ExtraManifestsFilter.md
  telco-ran/configuration/argocd/ImageRegistry.md
  telco-ran/configuration/argocd/README.md
  telco-ran/configuration/argocd/SNOExpansion.md
  telco-ran/configuration/argocd/SecureBoot.md
  telco-ran/configuration/argocd/Upgrade.md
  telco-ran/configuration/argocd/WorkerNodeDeletion.md
  telco-ran/configuration/argocd/WorkloadPartitioning.md
Due: none

telco-core: telco-hub: add cpe labels in container
  telco-core/Dockerfile.telco-core
  telco-hub/Dockerfile.telco-hub
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

telco-core: add cpe labels in container
  telco-core/Dockerfile.telco-core
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: none

RAN Hardening (SSHD) - High Severity
  telco-ran/configuration/machineconfigs/sshd/75-sshd-config-high.yaml
Due: none

telco-hub: remove workload partitioning annotations
  telco-hub/configuration/reference-crs-kube-compare/default_value.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/logging/clusterLogNS.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/odf-internal/odfNS.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/registry/catalog-source.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/registry/idms-operator.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/registry/idms-release.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/registry/itms-generic.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/registry/itms-release.yaml
  telco-hub/configuration/reference-crs/optional/logging/clusterLogNS.yaml
  telco-hub/configuration/reference-crs/optional/odf-internal/odfNS.yaml
  telco-hub/configuration/reference-crs/required/registry/catalog-source.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-operator.yaml
  telco-hub/configuration/reference-crs/required/registry/idms-release.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-generic.yaml
  telco-hub/configuration/reference-crs/required/registry/itms-release.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

tekton: fix telco-reference tekton 4.20
  .tekton/telco-core-rds-4-20-pull-request.yaml
  .tekton/telco-core-rds-4-20-push.yaml
  .tekton/telco-hub-rds-4-20-pull-request.yaml
  .tekton/telco-hub-rds-4-20-push.yaml
Due: telco-hub-rds-4-20-on-push

tekton: fix telco-reference tekton 4.21
  .tekton/telco-core-rds-4-21-pull-request.yaml
  .tekton/telco-core-rds-4-21-push.yaml
  .tekton/telco-hub-rds-4-21-pull-request.yaml
  .tekton/telco-hub-rds-4-21-push.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-21-on-push

tekton: update main branch tekton
  .tekton/telco-core-rds-4-22-pull-request.yaml
  .tekton/telco-core-rds-4-22-push.yaml
  .tekton/telco-hub-rds-4-22-pull-request.yaml
  .tekton/telco-hub-rds-4-22-push.yaml
Due: none

tekton: update cpe labels to 4.22
  telco-core/Dockerfile.telco-core
  telco-hub/Dockerfile.telco-hub
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

Red Hat Konflux update telco-core-rds-4-22
  .tekton/telco-core-rds-4-22-pull-request.yaml
  .tekton/telco-core-rds-4-22-push.yaml
Due: none

Red Hat Konflux update telco-hub-rds-4-22
  .tekton/telco-hub-rds-4-22-pull-request.yaml
  .tekton/telco-hub-rds-4-22-push.yaml
Due: none

telco-ran: remove deprecated restic configuration
  telco-ran/configuration/source-crs/data-protection/OadpDataProtectionApplication.yaml
Due: none

Add CertificatePolicy CR for monitoring certificate health
  telco-hub/configuration/reference-crs-kube-compare/metadata.yaml
  telco-hub/configuration/reference-crs-kube-compare/optional/cert-manager/certManagerCertificatePolicy.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/certManagerCertificatePolicy.yaml
  telco-hub/configuration/reference-crs/optional/cert-manager/kustomization.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

[Telco-Hub] update MCE/MCH ACM 2.15
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmMCH.yaml
  telco-hub/configuration/reference-crs-kube-compare/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCE.yaml
  telco-hub/configuration/reference-crs/required/acm/acmMCH.yaml
  telco-hub/configuration/reference-crs/required/acm/acmSubscription.yaml
  telco-hub/configuration/reference-crs/required/gitops/addPluginsPolicy.yaml
Due: telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

README updates; add summaries
  README.md
  telco-core/README.md
  telco-core/configuration/details.md
  telco-core/yaml_details.md
  telco-hub/README.md
  telco-hub/yaml_details.md
  telco-ran/yaml_details.md
  yaml_details.md
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

include Network CR to set cluster network MTU at deployment time for Telco Core
  telco-core/install/extra-manifests/Network.yaml
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push

Add sh linter; improve Makefile(s)
  .github/workflows/pre-main.yml
  hack/install-markdownlint.sh
  hack/markdownlint.sh
  telco-core/configuration/compare.sh
  telco-hub/configuration/reference-crs-kube-compare/compare.sh
  telco-hub/configuration/reference-crs/required/gitops/get_ztp_installation.sh
  telco-hub/scripts/check_current_versions.sh
  telco-ran/configuration/argocd/example/optional-extra-manifest/ipsec/configure-ipsec.sh
  telco-ran/configuration/argocd/example/optional-extra-manifest/ipsec/import-certs.sh
  telco-ran/configuration/extra-manifests-builder/01-container-mount-ns-and-kubelet-conf/build.sh
  telco-ran/configuration/extra-manifests-builder/01-container-mount-ns-and-kubelet-conf/test.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/build.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/disablePcrOnRebootOrShutdown.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/hwupgrade-detection-methods/file.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/hwupgrade-detection-methods/fwup.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/hwupgrade-detection-methods/ostree.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/hwupgrade-detection-methods/talm.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/luks-helpers.sh
  telco-ran/configuration/extra-manifests-builder/01-disk-encryption-pcr-rebind/test.sh
  telco-ran/configuration/extra-manifests-builder/08-set-rcu-normal/build.sh
  telco-ran/configuration/extra-manifests-builder/08-set-rcu-normal/set-rcu-normal.sh
  telco-ran/configuration/extra-manifests-builder/08-set-rcu-normal/test.sh
  telco-ran/configuration/extra-manifests-builder/Makefile
Due: telco-core-rds-4-21-on-pull-request, telco-core-rds-4-21-on-push, telco-hub-rds-4-20-on-push, telco-hub-rds-4-21-on-push

CNF-21196: RAN Hardening (Sysctl) - High Severity
  telco-ran/configuration/machineconfigs/sysctl/75-sysctl-high.yaml
Due: none

CNF-21212: RAN Hardening - HIGH Severity Compliance Remediations
  telco-ran/configuration/machineconfigs/crypto-policy/75-crypto-policy-high.yaml
  telco-ran/configuration/machineconfigs/pam/75-pam-auth-high.yaml
  telco-ran/configuration/machineconfigs/sshd/75-sshd-high.yaml
Due: none
